<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gbk" />
<title>投资大师_分析师简介——${master.mastername}</title>
<link href="/css/main.css" rel="stylesheet" type="text/css" />
<link href="/css/second.css" rel="stylesheet" type="text/css" />
<script language="javascript" type="text/javascript" src="/js/jquery.js"></script>
</head>

<body>
<div class="wrapper">
   #include("/template/inc/header.htm")
   <div class="mainBox">
      #include("/template/inc/colL.htm")
      <div class="sec_list">
         <div class="sec_nav">
            <h2><a href="/">投资大师首页</a> &gt; <a href="/master/index.html">草根大师</a> &gt; ${master.mastername}的首页
         </div>
         <h2 class="star_detail_star">${master.mastername}</h2>
         <ol id="star_detail_tab" class="star_detail_tab">
            <li id="starTab1"><a href="/master/${master.masterid}.htm">首页</a></li>
            <li id="starTab2"><a href="/master/${master.masterid}/liveDetail.htm"><font color="red">直播室入口</font></a></li>
            <li id="starTab3"><a href="/master/${master.masterid}/thread_1.htm">大师观点</a></li>
            <li class="star_de_tabli_on" id="starTab4"><a href="/master/${master.masterid}/archive_1.htm">直播归档</a></li>
         </ol>
         <div class="star_jump">
            <label>跳转到另一个大师</label>
            <select onchange="window.location = this.value;">
               <option>请选择</option>
               #if ($masterList)#foreach ($one in $masterList)
                  <option value="${one.masterid}.html">${one.mastername}</option>
               #end#end
            </select>
         </div>
         <div id="star_detail_box" class="star_intro_box">
            <div id="starTb1" class="star_detail_intro">
               <div class="star_detail_intro_img"><img src="/img/starGuru_default.jpg" /></div>
               <div class="star_detail_intro_text">
                  <em>简介：</em>
                  <p>${master.intro}</p>
               </div>
               <h2 class="analyticsTitle">直播室归档列表</h2>
               <div class="notice_list">
                  #foreach ($page in $pages)
                     <ul>
                     #set ($count = $page * 10)
                     #set ($end = $count + 10)
                     #if($end >= $urls.size() )
                        #set ($end = $urls.size() )
                     #end
                     #foreach ($url in ${urls.subList($count,$end)})
                        <li><a href='${url}'>${curdates.get($count)}</a></li>
                        #set ($count = $count + 1)
                     #end
                     </ul>
                  #end
               </div>
            </div>
         </div>
      </div>
      <div class="clear"></div>
      #include("/template/inc/footer.htm")
   </div><!--mainBox end-->
</div>
</body>
</html>
<!-- masterArchive -->