<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gbk" />
<title>草根大师列表_投资大师</title>
<link href="/css/main.css" rel="stylesheet" type="text/css" />
<link href="/css/second.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div class="wrapper">
   #include("/template/inc/header.htm")
   <div class="mainBox">
      #include("/template/inc/colL.htm")
      <div class="sec_list">
         <div class="sec_nav">
            <h2><a href="/">投资大师首页</a> &gt; 草根大师列表</h2> 
         </div>
         <div class="notice_list">
         <ul>
         #foreach ($master in $masters)
            <li><a href="/master/${master.masterid}.html">${master.mastername}</a></li>
         #end
         </ul>
         </div>
         <div class="pageSet"></div>
      </div>
      <div class="clear"></div>
      #include("/template/inc/footer.htm")
   </div><!--mainBox end-->
</div>
</body>
</html>
<!-- masterList -->