<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gbk" />
<title>${post.title}_投资大师_草根大师观点</title>
<link href="/css/main.css" rel="stylesheet" type="text/css" />
<link href="/css/second.css" rel="stylesheet" type="text/css" />
<script language="javascript" type="text/javascript">
</script>
</head>

<body>
<div class="wrapper">
   #include("/template/inc/header.htm")
   <div class="mainBox">
      #include("/template/inc/colL.htm")
      <div class="sec_list">
         <div class="sec_nav">
            <h2><a href="#">投资大师首页</a> &gt; <a href="/master/index.html">草根大师</a></h2> 
         </div>
         <h2 class="sec_conTitle">${post.title}</h2>
         <div class="sec_dtlSet">
            <span>作者：<em class="redFont"> <a href="/master/${post.groupid}.html">${post.nick}</a> </em></span>　$dateTools.transformDateDetail(${post.ptime})
            &nbsp;&nbsp;&nbsp;
         </div>
         <div class="sec_conDetail">
            ${post.content} 
         </div>
         <div class="sec_conRelat">
            <span class="clear">返回大师 <a href="/master/${post.groupid}.html">${post.nick}</a> 的首页 </span>
         </div>
      </div>
      <div class="clear"></div>
      #include("/template/inc/footer.htm")
   </div><!--mainBox end-->
</div>
</body>
</html>
<!-- masterThread -->