    	<div class="colL">
        	<div id="colL0" class="colL0 colLItem">
            	<div class="colL_title"><h2>用户登录</h2></div>
                <form>
                <div class="userLoginForm">
                    <label>用户名</label>
                    <input type="text" />
                    <span class="clear"></span>
                    <label>密码</label>
                    <input type="text" />
                </div>
              </form>
                <input class="loginBtn" type="button" value="登录" />
                <a href="#">注册新用户</a>
            </div>
   	  		<div class="colL1 colLItem">
            	<div class="colL_title">
                	<h2>大师殿堂</h2><a class="moreBtn" href="#"><span>more</span><img src="/img/block.gif"/></a>
                </div>
                <ul>
                	<li><a href="/analyzer/starGuruList.html">金牌分析师</a></li>
                	<li><a href="/analyzer/successrank_1.html">分析师成功率</a></li>
                    <!--<li><a href="#">草根大师</a></li>
                    <li><a href="#">明星机构</a></li>-->
                </ul>
            </div>
            <div class="colL2 colLItem">
            	<div class="colL_title">
                	<h2>股票精选</h2><a class="moreBtn" href="#"><span>more</span><img src="/img/block.gif"/></a>
                </div>
                <ul>
                	<li><a href="/analyzer/earnrank_4_1.html" target="_blank">金牌分析师之选</a></li>
                    <!--<li><a href="#">草根大师之选</a></li>
                    <li><a href="#">明星机构之选</a></li>-->
                    <li><a href="/stockagency/1.html" target="_blank">机构共同之选</a></li>
                    <li><a href="/analyzer/stardiscount_4_1.html" target="_blank">折价股票精选</a></li>
                    <li><a href="/analyzer/noticerank_1_1.html" target="_blank">公告掘金版</a></li>
                </ul>
            </div>
            <div class="colL3 colLItem">
            	<div class="colL_title">
                	<h2>投资参考</h2><a class="moreBtn" href="#"><span>more</span><img src="/img/block.gif"/></a>
                </div>
                <ul>
                	<li><a href="/financialreport/financialreportLab_1.html">财报大本营</a></li>
					<li><a href="/report/reportLab_1.html" target="_blank">研报大本营</a></li>
                </ul>
            </div>
             <div class="colL4 colLItem">
             	<div class="colL_title"> 
             	    <h2>公告掘金</h2>
                            <a class="moreBtn" href="/notice/notice_1.html" target="_blank"><span>more</span><img src="/img/block.gif"/></a>
                    </div>
                    <ul>
							<li>
                                <a href="http://static.sse.com.cn/sseportal/ps/zhs/ggts/ssgsggqw_full.shtml" target="_blank">上交所公司最新公告</a>
                            </li>
                            <li>
                                <a href="http://static.sse.com.cn/sseportal/webapp/datapresent/querytradetipsnew" target="_blank">上交所交易提示</a>
                            </li>
                            <li>
                                <a href="http://disclosure.szse.cn/m/drgg.htm" target="_blank">深交所最新公司公告</a>
                            </li>
                            <li>
                                <a href="http://www.szse.cn/main/disclosure/news/tfpts/" target="_blank">深交所交易提示</a>
                            </li>
                            <li>
                                <a href="http://www.cninfo.com.cn/" target="_blank">巨潮资讯</a>
                            </li>
                        </ul>
               </div>
        </div>