    	<div class="colL">
        	<div id="colL0" class="colL0 colLItem">
            	<div class="colL_title"><h2>用户登录</h2></div>
                <form>
                <div class="userLoginForm">
                    <label>用户名</label>
                    <input type="text" />
                    <span class="clear"></span>
                    <label>密码</label>
                    <input type="text" />
                </div>
              </form>
                <input class="loginBtn" type="button" value="登录" />
                <a href="#">注册新用户</a>
            </div>
   	  		<div class="colL1 colLItem">
            	<div class="colL_title">
                	<h2>大师殿堂</h2><a class="moreBtn" href="#"><span>more</span><img src="/img/block.gif"/></a>
                </div>
                <ul>
                	<li><a href="/analyzer/starGuruList.html">金牌分析师</a></li>
                    <!--<li><a href="#">草根大师</a></li>
                    <li><a href="#">明星机构</a></li>-->
                </ul>
            </div>
            <div class="colL2 colLItem">
            	<div class="colL_title">
                	<h2>股票精选</h2><a class="moreBtn" href="#"><span>more</span><img src="/img/block.gif"/></a>
                </div>
                <ul>
                	<li><a href="/analyzer/starEarn.html" target="_blank">金牌分析师之选</a></li>
                    <!--<li><a href="#">草根大师之选</a></li>
                    <li><a href="#">明星机构之选</a></li>-->
                    <li><a href="#" target="_blank">机构共同之选</a></li>
                    <li><a href="/analyzer/starDiscount_1.html" target="_blank">折价股票精选</a></li>
                </ul>
            </div>
            <div class="colL3 colLItem">
            	<div class="colL_title">
                	<h2>投资参考</h2><a class="moreBtn" href="#"><span>more</span><img src="/img/block.gif"/></a>
                </div>
                <ul>
                	<li><a href="#">财报大本营</a></li>
					<li><a href="/report/reportLab_1.html" target="_blank">研报大本营</a></li>
                </ul>
            </div>
        </div>