<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gbk" />
<title>${article.title}_投资大师</title>
<link href="../css/main.css" rel="stylesheet" type="text/css" />
<link href="../css/second.css" rel="stylesheet" type="text/css" />
<script language="javascript" type="text/javascript">
</script>
</head>

<body>
<div class="wrapper">
	#include("/template/inc/header.htm")<!--header end-->
    <div class="mainBox">
    	#include("/template/inc/colL.htm")
        <div class="sec_list">
        	<div class="sec_nav">
            	<h2><a href="/" >首页</a>&gt;&gt; <a href="/articles/${article.type}/list.html">$category</a>  </h2>
            </div>
            <h2 class="sec_conTitle">${article.title}</h2>
            <div class="sec_dtlSet">
            	<span>本文来源于${article.src}</span>　 ${ptime} <em class="redFont">共有 0 条点评</em>
                &nbsp;&nbsp;&nbsp;<a href="http://51gurus.com/search/columnarticlelist.htm?author=${article.author}">${article.author}</a>
                字号：<a class="fontSizeBtn" href="#">大</a><a class="fontSizeBtn" href="#">中</a><a class="fontSizeBtn" href="#">小</a>
            </div>
            <div class="sec_conDetail">
            		${article.Content}
	<span class="sec_conEditor">${article.author}</span>
            </div>
            <div class="sec_conRelat">
                <span class="clear"></span>
            </div>
        </div>
      <div class="clear"></div>
        #include("/template/inc/footer.htm")
    </div><!--mainBox end-->
</div>
</body>
</html>


