<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>${Article.Title}_投资大师</title>
<link href="../css/main.css" rel="stylesheet" type="text/css" />
<link href="../css/second.css" rel="stylesheet" type="text/css" />
<script language="javascript" type="text/javascript">
</script>
</head>

<body>
<div class="wrapper">
	<div class="header">
    	<div class="logo"><h1>投资大师</h1><img src="/img/logo.png" /></div>
        <div class="controlPanel">
        	<div class="icons">
            	<ul>
                	<li><a href="#">加入收藏</a></li>
                    <li><a href="#">设为首页</a></li>
                </ul>
            </div>
            <div class="search">
            	<div class="searchForm">
                    <input type="text" class="searchBox" value="请输入关键词" />
                    <input type="button" class="searchBtn" value="搜索" />
                </div>
                <div class="clear"></div>
            </div>
            <ul class="nav">
            	<li><a href="#"><span>首页</span></a></li>
                <li><a href="/analyzer/starGuruList.html"><span>大师殿堂</span></a></li>
                <li><a href="#"><span>股票精选</span></a></li>
                <li><a href="#"><span>草根大师之选</span></a></li>
                <li><a href="/analyzer/starEarn.html"><span>金牌分析师之选</span></a></li>
                <li><a href="#"><span>明星机构之选</span></a></li>
                <li><a href="#"><span>机构共同之选</span></a></li>
                <li><a href="/report/reportLab_1.html"><span>研报大本营</span></a></li>
                <li><a href="#"><span>财报大本营</span></a></li>
                <span class="clear"></span>
            </ul>
        </div>
    </div><!--header end-->
    <div class="mainBox">
    	<div class="colL">
        	<div id="colL0" class="colL0 colLItem">
            	<div class="colL_title"><h2>用户登录</h2></div>
                <form>
                <div class="userLoginForm">
                    <label>用户名</label>
                    <input type="text" />
                    <span class="clear"></span>
                    <label>密码</label>
                    <input type="text" />
                </div>
              </form>
                <input class="loginBtn" type="button" value="登录" />
                <a href="#">注册新用户</a>
            </div>
   	  		<div class="colL1 colLItem">
            	<div class="colL_title">
                	<h2>大师殿堂</h2><a class="moreBtn" href="#"><span>more</span><img src="/img/block.gif"/></a>
                </div>
                <ul>
                		<li><a href="/analyzer/starGuruList.html">金牌分析师</a></li>
                    <!--<li><a href="#">草根大师</a></li>
                    <li><a href="#">明星机构</a></li>-->
                </ul>
            </div>
            <div class="colL2 colLItem">
            	<div class="colL_title">
                	<h2>股票精选</h2><a class="moreBtn" href="#"><span>more</span><img src="/img/block.gif"/></a>
                </div>
                <ul>
                		<li><a href="/analyzer/starEarn.html">金牌分析师之选</a></li>
                    <!--<li><a href="#">草根大师之选</a></li>
                    <li><a href="#">明星机构之选</a></li>-->
                    <li><a href="#">机构共同之选</a></li>
                    <li><a href="/analyzer/starDiscount.html">折价股票精选</a></li>
                </ul>
            </div>
            <div class="colL3 colLItem">
            	<div class="colL_title">
                	<h2>投资参考</h2><a class="moreBtn" href="#"><span>more</span><img src="/img/block.gif"/></a>
                </div>
                <ul>
                	<li><a href="#">财报大本营</a></li>
                  <li><a href="/report/reportLab_1.html">研报大本营</a></li>
                </ul>
            </div>
        </div>
        <div class="sec_list">
        	<div class="sec_nav">
            	<h2><cms:link type="CurrentPosition" spliter=">">{ZCMS:当前位置}</cms:link></h2>
            </div>
            <h2 class="sec_conTitle">${Article.Title}</h2>
            <div class="sec_dtlSet">
            	<span>本文来源于${Article.ReferName}</span>　 ${Article.PublishDate|Format=yyyy年MM月dd日 hh:mm} <em class="redFont">共有 0 条点评</em>
                &nbsp;&nbsp;&nbsp;<a href="#"><img src="img/printIcon.jpg"/></a><a href="#"><img src="img/favIcon.jpg"/></a>
                字号：<a class="fontSizeBtn" href="#">大</a><a class="fontSizeBtn" href="#">中</a><a class="fontSizeBtn" href="#">小</a>
            </div>
            <div class="sec_conDetail">
            		${Article.Content}
	<span class="sec_conEditor">${Article.Author}</span>
            </div>
            <div class="sec_conRelat">
                <span class="clear"></span>
            </div>
			<div class="sec_commments"><cms:comment count="5">{ZCMS:评论区域}</cms:comment></div>
        </div>
      <div class="clear"></div>
        <div class="footer">
   	    <div class="goTop"><a href="#"><img src="img/topBtn.jpg"/></a></div>
            <img src="img/footer.jpg" />
            <div class="footerInfo"><a href="#">Sitemap</a> > <a href="#">Contact Us</a> > </div>
        </div>
    </div><!--mainBox end-->
</div>
</body>
</html>


