<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gbk" />
<title>投资大师_挣钱排行榜</title>
#include("/template/inc/cssjs.htm")<!--cssjs end-->
</head>

<body>
<div class="wrapper">
	#include("/template/inc/header.htm")<!--header end-->
    <div class="mainBox">
    	#include("/template/inc/colL.htm")
        <div class="sec_list">
        		<div class="sec_nav">
            	<h2>
                    <span class="sec_nav_date"></span>
                    <a href="#">投资大师首页</a> &gt; <a href="#">股票精选</a> &gt; 挣钱排行榜
                </h2>
            </div>
           <div style="width:100%;margin-top:15px;" id="star_detail_tab" class="sec_tabBar">
						<h2 class="star_de_tabli_on">挣钱排行榜</h2>
						#if($type == 3)
						<span class="current">
						#else 
						<span>
						#end
						<a href="/analyzer/earnrank_4_1.html">年排行榜</a></span>
						#if($type == 2)
						<span class="current">
						#else 
						<span>
						#end
                        <a href="/analyzer/earnrank_3_1.html">半年排行榜</a></span>
                        #if($type == 1)
						<span class="current">
						#else 
						<span>
						#end
                        <a href="/analyzer/earnrank_2_1.html">季度排行榜</a></span>
                        #if($type == 0)
						<span class="current">
						#else 
						<span>
						#end
						<a href="/analyzer/earnrank_1_1.html">月排行榜</a></span>
						<em class="sec_tab_right">$dateTools.transformYYYYMMDDDate($currdate)</em>
             </div>
            <div class="star_detail_box">
            	<div class="onsaleTable">
            		<table cellpadding="0" cellspacing="0">
            			<tr>
            				<th class="rank_score">排名</th>
            				<th>公司</th>
            				<th>分析师</th>
            				<th>推荐价</th>
            				<th>目标价</th>
            				<th>当前价</th>
            				<th>目标价差距</th>
            				<th>回报率</th>
            				<th>研究报告</th>
            			</tr>
            			#set ($count = $start + 1)
            			#if ($groupStockList)#foreach ($one in $groupStockList)
						#if ($count%2 == 1)
            			<tr>
            			#else
            			<tr class="star_detail_tb_even">
            			#end
            			    <td class="rank_score">
							#if ($count <= 3)
							<div class="rank_top3">${count}</div>
							#else
							<div class="rank_other">${count}</div>
							#end
							</td>
            				<td>${one.getStockname()}($one.getStockcode())&nbsp;<span id="analyicon$count" class="analyicon" onclick="showAnaly('analyicon$count','rec$count','${one.getStockname()}($one.getStockcode())','大盘涨跌幅度')">【对比图】</span></td>
            				<td>$one.groupname</td>
            				<td>${floatUtil.getTwoDecimalNumber($one.getInprice())}</td>
            				#if($one.getObjectprice()!= 0)
            				<td>${floatUtil.getTwoDecimalNumber($one.getObjectprice())}</td>
            				#else
            				<td> - </td>
            				#end
            				<td>${one.getCurrentprice()}</td>
            				#if ($one.getObjectprice() != 0)
							#set ($ratio = $one.getObjectprice() - $one.getCurrentprice())
			            	<td>${floatUtil.getTwoDecimalNumber(${ratio})}</td>
							#else
							<td> - </td>
							#end
            				<td>${one.getGain()}%</td>
            				<td>
            				<a href="/search/report.htm?aid=${one.groupid}&stockcode=${one.stockcode}">查看</a>
            				</td>
            			</tr>
            			#set ($count = $count + 1)
            			#end#end
            		</table>
            	</div>
            	<div>
            			#set ($count = $start + 1)
						#if ($groupStockList)#foreach ($one in $groupStockList)
            			<table id="rec$count" class="hidden">
            			#set ($stockEarnList = $stockDetailMap.get($one.getInreportid()))
			               	<tr>
			               		#if ($stockEarnList)#foreach ($one in $stockEarnList)
								<th>${one.getDate().getTime()}</th>
								#end#end
			                </tr>
			                <tr>
								#if ($stockEarnList)#foreach ($one in $stockEarnList)
								#set ($ratio = $one.getCurrratio() * 100)
								<td>${one.getPrice()},${floatUtil.getTwoDecimalNumber($ratio)}%</td>
								#end#end
							</tr>
							<tr>
								#set ($priceList = $stockEarnMap.get($one.getInreportid()))
								#set ($startprice = $startPriceMap.get($one.getInreportid()))
								#if ($priceList)#foreach ($one in $priceList)
								#set ($ratio = ($one.getPrice() - $startprice)/$startprice * 100)
	                            <td>${one.getPrice()},${floatUtil.getTwoDecimalNumber($ratio)}%</td>
								#end#end
							</tr>
		        		</table>
		        		#set ($count = $count + 1)
		        		#end#end
            	</div>
            	            	           	<div class="pageSet">
		            	<table width="100%" border="0">
		                  <tbody>
				                  <tr>
					                    <td width="28%">&nbsp;</td>
					                    <td width="51%">
					                    #if($type == 1)
											#if ($current == 1)
					                    	<a href="#">第一页</a>
											<a href="#">上一页</a>
											#else
											<a href="./earnrank_1_1.html">第一页</a>
											#set ($prev = $current - 1)
											<a href="./earnrank_1_${prev}.html">上一页</a>
											#end
											#if ($current == $page)
											<a href="#">下一页</a>
					                        <a href="#">末一页</a>
											#else
											#set ($next = $current + 1)
											<a href="./earnrank_1_${next}.html">下一页</a>
											<a href="./earnrank_1_${page}.html">末一页</a>
											#end
										#elseif ($type == 2)
											#if ($current == 1)
					                    	<a href="#">第一页</a>
											<a href="#">上一页</a>
											#else
											<a href="./earnrank_2_1.html">第一页</a>
											#set ($prev = $current - 1)
											<a href="./earnrank_2_${prev}.html">上一页</a>
											#end
											#if ($current == $page)
											<a href="#">下一页</a>
					                        <a href="#">末一页</a>
											#else
											#set ($next = $current + 1)
											<a href="./earnrank_2_${next}.html">下一页</a>
											<a href="./earnrank_2_${page}.html">末一页</a>
											#end
										#elseif ($type == 3)
											#if ($current == 1)
					                    	<a href="#">第一页</a>
											<a href="#">上一页</a>
											#else
											<a href="./earnrank_3_1.html">第一页</a>
											#set ($prev = $current - 1)
											<a href="./earnrank_3_${prev}.html">上一页</a>
											#end
											#if ($current == $page)
											<a href="#">下一页</a>
					                        <a href="#">末一页</a>
											#else
											#set ($next = $current + 1)
											<a href="./earnrank_3_${next}.html">下一页</a>
											<a href="./earnrank_3_${page}.html">末一页</a>
											#end
										#elseif ($type == 4)	
										#if ($current == 1)
					                    	<a href="#">第一页</a>
											<a href="#">上一页</a>
											#else
											<a href="./earnrank_4_1.html">第一页</a>
											#set ($prev = $current - 1)
											<a href="./earnrank_4_${prev}.html">上一页</a>
											#end
											#if ($current == $page)
											<a href="#">下一页</a>
					                        <a href="#">末一页</a>
											#else
											#set ($next = $current + 1)
											<a href="./earnrank_4_${next}.html">下一页</a>
											<a href="./earnrank_4_${page}.html">末一页</a>
											#end	
										#end								
					                    </td>
					                    	
					                    <td width="21%">
					                        <span class="curPage">$current</span>/$page&nbsp;&nbsp;&nbsp;&nbsp;
					                        到第<input class="toPage" type="text">页
					                        <input class="toPageBtn" type="button" value="跳转">
					                    </td>
				                  </tr>
		                	</tbody>
		              </table>
	            </div>
            </div>

        </div>
        <div id="star_detail_preview"></div>
		<div class="clear"></div>
        #include("/template/inc/footer.htm")
    </div><!--mainBox end-->
    <script language="javascript" type="text/javascript">
    	$("#star_detail_preview").hover(
				function () {
					$(this).show();
				},
				function (){
					$(this).hide();
					$(this).empty();
				}
			)
    </script>
</div>
</body>
</html>
