<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=gbk" />
        <title>投资大师</title>
        <link href="css/main.css" rel="stylesheet" type="text/css" />
        <script language="javascript" type="text/javascript">
            function getLength(){
                var liArr1 = document.getElementById("colR2").getElementsByTagName("ul")[0].getElementsByTagName("li");
                var liArr2 = document.getElementById("colR3").getElementsByTagName("ul")[0].getElementsByTagName("li");
                for (i = 0; i < liArr2.length; i++) {
                    if (i % 2 != 0) {
                        liArr1[i].style.background = "#EEE";
                        liArr2[i].style.background = "#EEE";
                    }
                }
            }
            
            window.onload = getLength;
        </script>
    </head>
    <body>
        <div class="wrapper">
            <div class="header">
                <div class="logo">
                    <h1>投资大师</h1>
                    <!--<img src="img/logo.png" />-->
                </div>
                <div class="controlPanel">
                    <div class="icons">
                        <ul>
                            <li>
                                <a href="#">加入收藏</a>
                            </li>
                            <li>
                                <a href="#">设为首页</a>
                            </li>
                        </ul>
                    </div>
                    <div class="search">
                        <div class="searchForm">
                            <input type="text" class="searchBox" value="请输入关键词" /><input type="button" class="searchBtn" value="搜索" />
                        </div>
                        <div class="clear">
                        </div>
                    </div>
                    <ul class="nav">
                        <li>
                            <a href="#"><span>首页</span></a>
                        </li>
                        <li>
                            <a href="/analyzer/starGuruList.html"><span>大师殿堂</span></a>
                        </li>
                        <li>
                            <a href="#"><span>股票精选</span></a>
                        </li>
                        <li>
                            <a href="#"><span>草根大师之选</span></a>
                        </li>
                        <li>
                            <a href="/analyzer/starEarn.html"><span>金牌分析师之选</span></a>
                        </li>
                        <li>
                            <a href="#"><span>明星机构之选</span></a>
                        </li>
                        <li>
                            <a href="#"><span>机构共同之选</span></a>
                        </li>
                        <li>
                            <a href="/report/reportLab_1.html"><span>研报大本营</span></a>
                        </li>
                        <li>
                            <a href="#"><span>财报大本营</span></a>
                        </li>
                        <span class="clear"></span>
                    </ul>
                </div>
            </div>
            <!--header end-->
            <div class="mainBox">
                <div class="colL">
                    <div class="colL1 colLItem">
                        <div class="colL_title">
                            <h2>大师殿堂</h2>
                            <a class="moreBtn" href="#" target="_blank"><span>more</span><img src="/img/block.gif"/></a>
                        </div>
                        <ul>
                            <li>
                                <a href="/analyzer/starGuruList.html" target="_blank">金牌分析师</a>
                            </li>
                            <!--<li><a href="#">草根大师</a></li>
                            <li><a href="#">明星机构</a></li>-->
                        </ul>
                    </div>
                    <div class="colL2 colLItem">
                        <div class="colL_title">
                            <h2>股票精选</h2>
                            <a class="moreBtn" href="#" target="_blank"><span>more</span><img src="/img/block.gif"/></a>
                        </div>
                        <ul>
                            <li>
                                <a href="/analyzer/starEarn.html" target="_blank">金牌分析师之选</a>
                            </li>
                            <!--<li><a href="#">草根大师之选</a></li>
                            <li><a href="#">明星机构之选</a></li>-->
                            <li>
                                <a href="#" target="_blank">机构共同之选</a>
                            </li>
                            <li>
                                <a href="/analyzer/starDiscount.html" target="_blank">折价股票精选</a>
                            </li>
                        </ul>
                    </div>
                    <div class="colL3 colLItem">
                        <div class="colL_title">
                            <h2>投资参考</h2>
                            <a class="moreBtn" href="#" target="_blank"><span>more</span><img src="/img/block.gif"/></a>
                        </div>
                        <ul>
                            <li>
                                <a href="#" target="_blank">财报大本营</a>
                            </li>
                            <li>
                                <a href="/report/reportLab_1.html" target="_blank">研报大本营</a>
                            </li>
                        </ul>
                    </div>
                    <div class="colL4 colLItem">
                        <div class="colL_title">
                            <h2>上市公司动态</h2>
                            <a class="moreBtn" href="#" target="_blank"><span>more</span><img src="img/block.gif"/></a>
                        </div>
                        <ul>
                            <li>
                                <a href="http://static.sse.com.cn/sseportal/ps/zhs/ggts/ssgsggqw_full.shtml" target="_blank">上交所公司最新公告</a>
                            </li>
                            <li>
                                <a href="http://static.sse.com.cn/sseportal/webapp/datapresent/querytradetipsnew" target="_blank">上交所交易提示</a>
                            </li>
                            <li>
                                <a href="http://disclosure.szse.cn/m/drgg.htm" target="_blank">深交所最新公司公告</a>
                            </li>
                            <li>
                                <a href="http://www.szse.cn/main/disclosure/news/tfpts/" target="_blank">深交所交易提示</a>
                            </li>
                            <li>
                                <a href="http://www.cninfo.com.cn/" target="_blank">巨潮资讯</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="colM">
                    <div class="colML">
                        <div class="colM_title">
                            <h2>大势研判</h2>
                            <a class="moreBtn" href="http://51gurus.com/cms/dsyp/index.shtml" target="_blank"><span>more</span><img src="img/block.gif"/></a>
                        </div>
                        <ul style="height:240px">
                            #foreach ($one in $dsyp)<!--限制在40个字以内，控制简介在两行-->
                            <li>
                                <h3><em><a href="$one.link" target="_blank">$one.author</a></em><a href="$one.link" target="_blank">$one.title</a></h3>
                                <p>
                                    $one.abs
                                </p>
                                <span class="clear"></span>
                            </li>
                            #end
                        </ul>
                    </div>
                    <div class="colMR">
                        <div class="colM2_title">
                            <h2>大师专栏</h2>
                            <a class="moreBtn" href="http://51gurus.com/cms/cjzl/index.shtml" target="_blank"><span>more</span><img src="img/block.gif"/></a>
                        </div>
                        <ul id="colMRUL">
                            #set ($count = 0) 
                            #foreach ($one in $cjzl)  
                            #if($count == $cjzlsize) 
                            <li style="background:none;" class="noBg">
                            #else 
                            <li>
                                #end<h3><em><a href="$one.link">$one.author</a></em><a href="$one.link">$one.title<!--限制在15个字以内，控制简介在一行--></a></h3>
                                <p>
                                    $one.abs<!--限制在40个字以内，控制简介在两行-->
                                </p>
                                <p>
                                    <em class="colMR_date">${dateTools.transformTomm($one.ptime)}</em>
                                    <a class="moreBtn2" href="$one.link" target="_blank"><img src="img/block.gif"/></a>
                                </p>
                                <div class="clear">
                                </div>
                            </li>
                            #end
                            <p class="colM_more">
                                <a href="http://51gurus.com/cms/cjzl/index.shtml" target="_blank">查看更多大师专栏</a>
                            </p>
                        </ul>
                    </div>
                    <div class="colML">
                        <div class="colM_title">
                            <h2>宏观动态</h2>
                            <a class="moreBtn" href="http://51gurus.com/cms/hgdt/index.shtml" target="_blank"><span>more</span><img src="img/block.gif"/></a>
                        </div>
                        <ul>
                            #foreach ($one in $hgdt)<!--限制在15个字以内，控制简介在一行-->
                            <li>
                                <a href="$one.link" target="_blank"><span class="agency">[$one.src]</span>$one.title</a>
                            </li>
                            #end
                        </ul>
                    </div>
                    <div class="colML">
                        <div class="colM_title">
                            <h2>个股研究</h2>
                            <a class="moreBtn" href="#" target="_blank"><span>more</span><img src="img/block.gif"/></a>
                        </div>
                        <ul style="height: 192px;">
                            #foreach ($one in $recommendstocks)
                            <li>
                                <h3><em><a href="http://51gurus.com${one.filepath}" target="_blank">$one.aname</a></em><a href="http://51gurus.com${one.filepath}">${one.stockname}(${one.stockcode})</a><span class="rec">${one.grade}</span></h3>
                                <p>
                                    $one.title<!--限制在18个字以内，控制简介在一行-->
                                </p>
                                <span class="clear"></span>
                            </li>
                            #end
                        </ul>
                    </div>
                </div>
                <div class="colR">
                    <div id="colR1" class="colR1 colRItem">
                        <div class="colR_title">
                            <h2>用户登录</h2>
                        </div>
                        <div class="colR1Form">
                            <label>
                                用户名
                            </label>
                            <input type="text" />
                        </div>
                        <div class="colR1Form">
                            <label>
                                密码
                            </label>
                            <input type="text" />
                        </div><input class="loginBtn" type="button" value="登录" /><a href="#">注册新用户</a>
                    </div>
                    <div id="colR2" class="colR2 colRItem">
                        <div class="colR_title">
                            <span class="colRDate">2010-11-20</span>
                            <h2>大师排行榜</h2>
                        </div>
                        <ul>
                            #foreach ($one in $analyzerList)
                                <li><em><img src="img/num${velocityCount}.gif" /></em><a href="http://51gurus.com/analyzer/static/${one.aid}_intro.html" target="_blank"><span class="name">$one.name</span><span>[$one.agency]</span><span class="percent">#set ($ratio = $one.getWeight() - 100)${floatUtil.getTwoDecimalNumber(${ratio})}%</span></a></li>
                            #end
                        </ul>
                    </div>
                    <div id="colR3" class="colR3 colRItem">
                        <div class="colR_title">
                            <span class="colRDate">2010-11-20</span>
                            <h2>赚钱排行榜</h2>
                        </div>
                        <ul>
                            #foreach ($one in $groupStockList)
                            <li><em><img src="img/num${velocityCount}.gif" /></em><!--这个链接我加的，不对--><a href="http://51gurus.com/analyzer/static/${one.aid}_intro.html" target="_blank"><span title="${one.stockname}(${one.stockcode})">${one.stockname}</span><span class="name">${one.groupname}</span><span class="percent">${floatUtil.getTwoDecimalNumber($one.gain)}%</span></a></li>
                            #end
                        </ul>
                    </div>
                </div>
                <div class="clear">
                </div>
                <div class="links">
                    <div class="links_title">
                        <h2>友情链接</h2>
                        <em>
                    </div>
                    <ul>
                        <li>
                            <a href="http://chinese.wsj.com/gb/" target="_blank"><img alt="华尔街日报" title="华尔街日报" src="upload/wsj.gif" /></a>
                        </li>
                        <li>
                            <a href="http://www.aastocks.com.cn/" target="_blank"><img alt="阿思达克" title="阿思达克" src="upload/aast.gif" /></a>
                        </li>
                        <li>
                            <a href="http://www.caijing.com.cn/" target="_blank"><img alt="财经网" title="财经网" src="upload/caijing.gif" /></a>
                        </li>
                        <li>
                            <a href="http://www.baring.cn/quo/index.html" target="_blank"><img alt="霸灵财经网" title="霸灵财经网" src="upload/baring.gif" /></a>
                        </li>
                        <li>
                            <a href="http://www.capitalweek.com.cn/index.html" target="_blank"><img alt="证券市场周刊" title="证券市场周刊" src="upload/cap.gif" /></a>
                        </li>
                        <li>
                            <a href="http://www.simuwang.com/" target="_blank"><img alt="私募排排网" title="私募排排网" src="upload/simu.gif" /></a>
                        </li>
                        <li>
                            <a href="http://www.jrj.com.cn/" target="_blank"><img alt="金融界" title="金融界" src="upload/jrj.gif" /></a>
                        </li>
                        <li>
                            <a href="http://finance.sina.com.cn/" target="_blank"><img alt="新浪财经" title="新浪财经" src="upload/sina.gif" /></a>
                        </li><span class="clear"></span>
                    </ul>
                    <span class="clear"></span>
                </div>
                <div class="footer">
                    <div class="goTop">
                        <a href="#"><img src="img/topBtn.jpg"/></a>
                    </div><img src="img/footer.jpg" />
                    <div class="footerInfo">
                        <a href="#" target="_blank">Sitemap</a>
                        &gt; <a href="#" target="_blank">Contact Us</a>
                        &gt; 
                    </div>
                </div>
            </div>
            <!--mainBox end-->
        </div>
    </body>
</html>