<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gbk" />
<title>分析师行业列表_投资大师</title>
<link href="/css/main.css" rel="stylesheet" type="text/css" />
<link href="/css/second.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div class="wrapper">
 #include("/template/inc/header.htm")<!--header end-->
    <div class="mainBox">
    	 #include("/template/inc/colL.htm")
        <div class="sec_list">
        		<div class="sec_nav">
                    <h2><a href="/">投资大师首页</a> &gt;<a href="/analyzer/starGuruList.html">大师殿堂</a> &gt; 行业列表</h2> 
                </div>
            <!--<div class="onsaleTitle">分析师折价之选</div>-->
            	<div class="article_list">
					#set ($count = 0)
					#if ($industryList)#foreach ($one in $industryList)
					#if ($count%5==0)
					<ul>
					#end
						<li>
					#if($one.level ==3)
                     <a class="indust-analyzer vip" href="/analyzer/getIndustry.htm?industry=$one">$one</a>
                    #else
                    <a class="indust-analyzer" href="/analyzer/getIndustry.htm?industry=$one">$one</a>
                     #end
			        </li>
					#set ($count = $count + 1)
            		#if ($count%5==0)
					</ul>
					#end
					#end#end
            	</div>
            	<div class="pageSet">
		           
	            </div>
            </div>
        </div>
        
		<div class="clear"></div>
		#include("/template/inc/footer.htm")
    </div><!--mainBox end-->
</div>
</body>
</html>
