<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gbk" />
<title>投资大师_分析师股票组合--${analyzer.getName()}</title>
<link href="/css/main.css" rel="stylesheet" type="text/css" />
<link href="/css/second.css" rel="stylesheet" type="text/css" />
<script language="javascript" type="text/javascript" src="/js/jquery.js"></script>
<script language="javascript" type="text/javascript" src="/js/raphael.js"></script>
<script language="javascript" type="text/javascript" src="/js/analytics.js"></script>
</head>

<body>
<div class="wrapper">
	#include("/template/inc/header.htm")
    <div class="mainBox">
    	#include("/template/inc/colL.htm")
        <div class="sec_list">
        		<div class="sec_nav">
            	<h2><a href="#">投资大师首页</a> &gt; <a href="#">大师专栏</a> &gt; 金牌分析师</h2> 
            </div>
            <h2 class="star_detail_star">${analyzer.getName()}</h2>
            <ol id="star_detail_tab" class="star_detail_tab">
            	<li id="starTab1"><a href="${analyzer.getAid()}_intro.html">简介</a></li>
            	<li class="star_de_tabli_on" id="starTab2"><a href="#">股票组合</a></li>
            	<li id="starTab3"><a href="${analyzer.getAid()}_report.html">研究报告</a></li>
            	<li id="starTab4"><a href="${analyzer.getAid()}_success.html">成功率</a></li>
						</ol>
						<div class="star_jump">
							<label>跳转到另一个大师</label>
							<select onchange="window.location = this.value;">
								<option>请选择</option>
								#if ($analyzerList)#foreach ($one in $analyzerList)
								<option value="${one.getAid()}_stock.html">${one.getName()}</option>
								#end#end
							</select>
						</div>
            <div id="star_detail_box" class="star_detail_box">
		            	<div id="starTb2" class="star_detail_recommand" style="display:block">
			            		<table cellpadding="0" cellspacing="0">
			            			<tr>
			            				<th>公司</th>
			            				<th>推荐日期</th>
			            				<th>推荐价</th>
			            				<th>目标价</th>
			            				<th>当前价</th>
			            				<th>目标价差距</th>
			            				<th>回报率</th>
			            				<th>研究报告</th>
			            			</tr>
									#set ($count = 1)
									#if ($stockDetailList)#foreach ($one in $stockDetailList)
									#if ($count%2 == 1)
									<tr onmouseover="showAnaly($count,'rec$count','${one.getStockname()}(${one.getStockcode()})','大盘涨跌幅度')">
									#else
									<tr class="star_detail_tb_even" onmouseover="showAnaly($count,'rec$count','${one.getStockname()}(${one.getStockcode()})','大盘涨跌幅度')">
									#end
									<td>${one.getStockname()}(${one.getStockcode()})</td>
									<td>${dateTools.transformYYYYMMDDDate(${one.getIntime()})</td>
			            			<td>${floatUtil.getTwoDecimalNumber($one.getInprice())}</td>
			            			#if ($one.getObjectprice() != 0)
			            			<td>${floatUtil.getTwoDecimalNumber($one.getObjectprice())}</td>
			            			#else
									<td> - </td>
									#end
			            			<td>${floatUtil.getTwoDecimalNumber($one.getCurrentprice())}</td>
									#if ($one.getObjectprice() != 0)
									#set ($ratio = $one.getObjectprice() - $one.getCurrentprice())
			            			<td>${floatUtil.getTwoDecimalNumber($ratio)}</td>
									#else
									<td> - </td>
									#end
			            			<td>${one.getGain()}%</td>
			            			<td>
									#set ($pathcount = 1)
									#set ($filePathList = $one.getFilePathList())
									#if ($filePathList)#foreach ($one in $filePathList)
									<a href="http://51gurus.com${one}">$pathcount</a>
									#set ($pathcount = $pathcount + 1)
									#end#end
									</td>
									#set ($count = $count + 1)
									#end#end
			            		</table>
								#set ($count = 1)
								#if ($stockDetailList)#foreach ($one in $stockDetailList)
		            			<table id="rec${count}" class="hidden">
									#set ($stockEarnList = $stockDetailMap.get(${one.getStockcode()}))
									<tr>
										#if ($stockEarnList)#foreach ($one in $stockEarnList)
										<th>${dateTools.transformMMDDDate(${one.getDate()})}</th>
										#end#end
									</tr>
									<tr>
										#if ($stockEarnList)#foreach ($one in $stockEarnList)
										#set ($ratio = $one.getCurrratio() * 100)
										<td>${one.getPrice()},${floatUtil.getTwoDecimalNumber($ratio)}%</td>
										#end#end
									</tr>
									<tr>
										#if ($priceList)#foreach ($one in $priceList)
										#set ($ratio = ($one.getPrice() - $startprice)/$startprice * 100)
                                        <td>${one.getPrice()},${floatUtil.getTwoDecimalNumber($ratio)}%</td>
										#end#end
									</tr>
								</table>
								#set ($count = $count + 1)
								#end#end
						</div><!-- starTb2 -->
            </div>

        </div>
        <div id="star_detail_preview"></div>
      <div class="clear"></div>
        #include("/template/inc/footer.htm")
    </div><!--mainBox end-->
    <script language="javascript" type="text/javascript">
    	$("#star_detail_preview").hover(
					function () {
						$(this).show();
					},
					function (){
						$(this).hide();
						$(this).empty();
					}
			)
			function showAnaly(num,id,name1,name2){
					var leftCount = (document.body.scrollWidth-1013)/2+360;
					var topCount = 360;
					init("star_detail_preview",600,200,id,name1,name2,1);
					$("#star_detail_preview").show();
					$("#star_detail_preview").css("top" , topCount+num*43+"px");
					$("#star_detail_preview").css("left" , (leftCount)+"px");
			}
    </script>
    
</div>
</body>
</html>
