<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gbk" />
<title>投资大师_个股研究</title>
<link href="/css/main.css" rel="stylesheet" type="text/css" />
<link href="/css/second.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div class="wrapper">
	#include("/template/inc/header.htm")
    <div class="mainBox">
    	#include("/template/inc/colL.htm")
        <div class="sec_list">
        		<div class="sec_nav">
                    <h2><a href="/">投资大师首页</a> &gt; 个股研究</h2> 
                </div>

            <!--<div class="onsaleTitle">分析师折价之选</div>-->
            	<div>
					#set ($count = 0)
					#if ($recommendstocks) #foreach ($one in $recommendstocks)
					#if ($count%5==0)
					<ul>
					#end
                            <li>
                                <span class="research-time">[${one.createdate}]</span>
                                <h3><em><a href="http://51gurus.com${one.filepath}" target="_blank">$one.aname</a></em><a href="http://51gurus.com${one.filepath}" target="_blank">${one.stockname}(${one.stockcode})</a><span class="rec">${one.saname}</span>&nbsp;<span class="rec">${one.grade}</span></h3>
                                <p title="$one.title">
                                    $one.title
                                </p>
                                <span class="clear"></span>
                            </li>
					#set ($count = $count + 1)
            		#if ($count%5==0)
					</ul>
					#end
					#end#end
            	</div>
            	<div class="pageSet">
		            	<table width="100%" border="0">
		                  <tbody>
				                  <tr>
					                    <td width="28%">&nbsp;</td>
					                    <td width="51%">
											#if ($current == 1)
					                    	<a href="#">第一页</a>
											<a href="#">上一页</a>
											#else
											<a href="./stockResearch_1.html">第一页</a>
											#set ($prev = $current - 1)
											<a href="./stockResearch_${prev}.html">上一页</a>
											#end
											#if ($current == $page)
											<a href="#">下一页</a>
					                        <a href="#">末一页</a>
											#else
											#set ($next = $current + 1)
											<a href="./stockResearch_${next}.html">下一页</a>
											<a href="./stockResearch_${page}.html">末一页</a>
											#end
					                    </td>
					                    <td width="21%">
					                        <span class="curPage">$current</span>/$page&nbsp;&nbsp;&nbsp;&nbsp;
					                        到第<input class="toPage" type="text">页
					                        <input class="toPageBtn" type="button" value="跳转">
					                    </td>
				                  </tr>
		                	</tbody>
		              </table>
	            </div>
            </div>
        </div>
        
      <div class="clear"></div>
        #include("/template/inc/footer.htm")
    </div><!--mainBox end-->
</div>
</body>
</html>
