<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gbk" />
<title>投资大师_我的帐号</title>
<link href="/css/main.css" rel="stylesheet" type="text/css" />
<link href="/css/second.css" rel="stylesheet" type="text/css" />
<script language="javascript" type="text/javascript" src="/js/jquery.js"></script>
<script language="javascript" type="text/javascript" src="/js/Rookie.js?/js/rookie.swf"></script>
<script language="javascript" type="text/javascript" src="/js/51gurus.js"></script> 
</head>

<body>
<div class="wrapper">
   #include("/template/inc/header.htm")
   <div class="mainBox">
      #include("/template/inc/colL.htm")
      <div class="sec_list">
         <div class="sec_nav">
            <h2>
               <a href="/">投资大师首页</a> &gt; 个人中心
            </h2>   
         </div>
         <div style="width:100%;margin-top:15px;" id="star_detail_tab" class="sec_tabBar">
            <h2 class="star_de_tabli_on">个人中心</h2>
            <span class="current"><a href="/user/myAccount.htm">我的账号</a></span>
            <span><a href="/user/myInfo.htm">我的信息</a></span>
            <span><a href="/user/myRecharge.htm">我的充值</a></span>
            <span><a href="/user/myConsumer.htm">我的消费</a></span>
         	<span><a href="/user/logout.do">安全退出</a></span> 
         </div>
         <div class="user">
            <div class="myAccount">
               2009年11月08日至今，您在投资大师共消费了&nbsp;<span class="cRed">6</span>&nbsp;项服务，订单总金额&nbsp;<span class="cRed">35</span>&nbsp;元，您的账户余额为&nbsp;<span class="cRed">193.00</span>&nbsp;元
               <hr />
               <table width="99%" cellspacing="0" cellpadding="0" border="1">
                  <tr>
                     <th class="ta-l pd-l-5">产品</th>
                     <th width="40">非注册用户</th>
                     <th width="40">注册用户</th>
                     <th width="40">会员用户</th>
                     <th class="ta-l pd-l-5">产品说明</th>
                     <th width="30">状态</th>
                     <th>建议价格(人民币)</th>
                     <th>操作</th>
                  </tr>
                  <tr>
                     <td rowspan="7">分析师成功率</td>
                     <td rowspan="7">&nbsp;</td>
                     <td rowspan="7">&nbsp;</td>
                     <td rowspan="7">√</td>
                     <td>用户可对分析师推荐股票目标价的成果进行跟踪</td>
                     <td>收费</td>
                     <td>29元/月/行业</td>
                     <td>
                        <a class="cRed" href="javascript:;" onclick="cart.buy('0', 1, 29)">购买</a>
                        <a class="cRed" href="javascript:;" onclick="cart.add('0', 1, 29 )">放入购物车</a>
                     </td>
                  </tr>
                  <tr>
                     <td>1.按照成功率</td>
                     <td>&nbsp;</td>
                     <td>&nbsp;</td>
                     <td>&nbsp;</td>
                  </tr>
                  <tr>
                     <td>2.按照成功数量</td>
                     <td>&nbsp;</td>
                     <td>&nbsp;</td>
                     <td>&nbsp;</td>
                  </tr>
                  <tr>
                     <td>3.按照目标价达成平均时长</td>
                     <td>&nbsp;</td>
                     <td>&nbsp;</td>
                     <td>&nbsp;</td>
                  </tr>
                  <tr>
                     <td>4.按照最近一年和自开始以来</td>
                     <td>&nbsp;</td>
                     <td>&nbsp;</td>
                     <td>&nbsp;</td>
                  </tr>
                  <tr>
                     <td>5.按照行业</td>
                     <td>&nbsp;</td>
                     <td>&nbsp;</td>
                     <td>&nbsp;</td>
                  </tr>
                  <tr>
                     <td>6.研报最新推荐</td>
                     <td>&nbsp;</td>
                     <td>&nbsp;</td>
                     <td>&nbsp;</td>
                  </tr><!-- 分析师成功率 -->
                  <tr>
                     <td rowspan="8">分析师收益率</td>
                     <td rowspan="8">&nbsp;</td>
                     <td rowspan="8">&nbsp;</td>
                     <td rowspan="8">√</td>
                     <td>用户可跟踪分析师推荐股票的综合收益率</td>
                     <td>收费</td>
                     <td>29元/月/行业</td>
                     <td>
                        <a class="cRed" href="javascript:;" onclick="cart.buy('1', 1, 29)">购买</a>
                        <a class="cRed" href="javascript:;" onclick="cart.add('1', 1, 29)">放入购物车</a>
                     </td>
                  </tr>
                  <tr>
                     <td>1.按照最近一年和自开始以来</td>
                     <td>&nbsp;</td>
                     <td>&nbsp;</td>
                     <td>&nbsp;</td>
                  </tr>
                  <tr>
                     <td>2.按照收益指数</td>
                     <td>&nbsp;</td>
                     <td>&nbsp;</td>
                     <td>&nbsp;</td>
                  </tr>
                  <tr>
                     <td>3.按照指数起始日的涨幅</td>
                     <td>&nbsp;</td>
                     <td>&nbsp;</td>
                     <td>&nbsp;</td>
                  </tr>
                  <tr>
                     <td>4.按照但个股票的平均收益率</td>
                     <td>&nbsp;</td>
                     <td>&nbsp;</td>
                     <td>&nbsp;</td>
                  </tr>
                  <tr>
                     <td>5.查看股票池及调入调出</td>
                     <td>&nbsp;</td>
                     <td>&nbsp;</td>
                     <td>&nbsp;</td>
                  </tr>
                  <tr>
                     <td>6.按照行业</td>
                     <td>&nbsp;</td>
                     <td>&nbsp;</td>
                     <td>&nbsp;</td>
                  </tr>
                  <tr>
                     <td>7.研报最新推荐</td>
                     <td>&nbsp;</td>
                     <td>&nbsp;</td>
                     <td>&nbsp;</td>
                  </tr><!-- 分析师收益率 -->
                  <tr>
                     <td rowspan="4">个股跟踪</td>
                     <td rowspan="4">&nbsp;</td>
                     <td rowspan="4">&nbsp;</td>
                     <td rowspan="4">√</td>
                     <td>用户可对单一股票查询各分析师的目标价预期汇总</td>
                     <td>收费</td>
                     <td>29元/月</td>
                     <td>
                        <a class="cRed" href="javascript:;" onclick="cart.buy('2', 1, 29)">购买</a>
                        <a class="cRed" href="javascript:;" onclick="cart.add('2', 1, 29 )">放入购物车</a>
                     </td>
                  </tr>
                  <tr>
                     <td>1.目标价</td>
                     <td>&nbsp;</td>
                     <td>&nbsp;</td>
                     <td>&nbsp;</td>
                  </tr>
                  <tr>
                     <td>2.调升调降</td>
                     <td>&nbsp;</td>
                     <td>&nbsp;</td>
                     <td>&nbsp;</td>
                  </tr>
                  <tr>
                     <td>3.以半年内的研报数据为限</td>
                     <td>&nbsp;</td>
                     <td>&nbsp;</td>
                     <td>&nbsp;</td>
                  </tr><!-- 个股跟踪 -->
                  <tr>
                     <td rowspan="6">推荐后折价</td>
                     <td rowspan="6">&nbsp;</td>
                     <td rowspan="6">&nbsp;</td>
                     <td rowspan="6">√</td>
                     <td>用户可发现现价相对于分析师推荐当日折价的股票</td>
                     <td>收费</td>
                     <td>19元/月</td>
                     <td>
                        <a href="javascript:;" onclick="cart.buy('3', 1, 19)">购买</a>
                        <a href="javascript:;" onclick="cart.add('3', 1, 19 )">放入购物车</a>
                     </td>
                  </tr>
                  <tr>
                     <td>1.推荐日</td>
                     <td>&nbsp;</td>
                     <td>&nbsp;</td>
                     <td>&nbsp;</td>
                  </tr>
                  <tr>
                     <td>2.推荐日价格</td>
                     <td>&nbsp;</td>
                     <td>&nbsp;</td>
                     <td>&nbsp;</td>
                  </tr>
                  <tr>
                     <td>3.当前价</td>
                     <td>&nbsp;</td>
                     <td>&nbsp;</td>
                     <td>&nbsp;</td>
                  </tr>
                  <tr>
                     <td>4.折价率</td>
                     <td>&nbsp;</td>
                     <td>&nbsp;</td>
                     <td>&nbsp;</td>
                  </tr>
                  <tr>
                     <td>5.按照时间阶段折价排行</td>
                     <td>&nbsp;</td>
                     <td>&nbsp;</td>
                     <td>&nbsp;</td>
                  </tr><!-- 推荐后折价 -->
                  <tr>
                     <td rowspan="2">研报速递</td>
                     <td rowspan="2">&nbsp;</td>
                     <td rowspan="2">&nbsp;</td>
                     <td rowspan="2">√</td>
                     <td>用户可根据需求选择跟踪分析师的最新研报</td>
                     <td>收费</td>
                     <td>99元/月/行业</td>
                     <td>
                        <a class="cRed" href="javascript:;" onclick="cart.buy('4', 1, 19)">购买</a>
                        <a class="cRed" href="javascript:;" onclick="cart.add('4', 1, 19 )">放入购物车</a>
                     </td>
                  </tr>
                  <tr>
                     <td>1.研报简介</td>
                     <td>&nbsp;</td>
                     <td>&nbsp;</td>
                     <td>&nbsp;</td>
                  </tr><!-- 研报速递 -->
                  <tr>
                     <td rowspan="4">民间专家直播室</td>
                     <td rowspan="4">&nbsp;</td>
                     <td rowspan="4">&nbsp;</td>
                     <td rowspan="4">√</td>
                     <td>用户可浏览民间专家的每日投资直播</td>
                     <td>收费</td>
                     <td>99元/月</td>
                     <td>
                        <a class="cRed" href="javascript:;" onclick="cart.buy('5', 1, 99)">购买</a>
                        <a class="cRed" href="javascript:;" onclick="cart.add('5', 1, 99 )">放入购物车</a>
                     </td>
                  </tr>
                  <tr>
                     <td>1.一级直播室</td>
                     <td>&nbsp;</td>
                     <td>&nbsp;</td>
                     <td>&nbsp;</td>
                  </tr>
                  <tr>
                     <td>2.二级直播室</td>
                     <td>&nbsp;</td>
                     <td>&nbsp;</td>
                     <td>&nbsp;</td>
                  </tr>
                  <tr>
                     <td>3.三级直播室</td>
                     <td>&nbsp;</td>
                     <td>&nbsp;</td>
                     <td>&nbsp;</td>
                  </tr><!-- 民间专家直播室 -->
                  <tr>
                     <td>民间专家</td>
                     <td>&nbsp;</td>
                     <td>&nbsp;</td>
                     <td>√</td>
                     <td>用户可浏览民间专家的股票池</td>
                     <td>收费</td>
                     <td>协商定价</td>
                     <td>
                        <a class="cRed" href="javascript:;" onclick="cart.buy('6', 1, 0)">购买</a>
                        <a class="cRed" href="javascript:;" onclick="cart.add('6', 1, 0 )">放入购物车</a>
                     </td>
                  </tr><!-- 民间专家 -->
                  <tr>
                     <td rowspan="4">民间专家成绩</td>
                     <td rowspan="4">&nbsp;</td>
                     <td rowspan="4">&nbsp;</td>
                     <td rowspan="4">√</td>
                     <td>用户可查询民间专家的收益成绩</td>
                     <td>收费</td>
                     <td>0.1元/票</td>
                     <td>
                        <a class="cRed" href="javascript:;" onclick="cart.buy('7', 1, 0.1)">购买</a>
                        <a class="cRed" href="javascript:;" onclick="cart.add('7', 1, 0.1 )">放入购物车</a>
                     </td>
                  </tr>
                  <tr>
                     <td>1.用户送鲜花数量</td>
                     <td>&nbsp;</td>
                     <td>&nbsp;</td>
                     <td>&nbsp;</td>
                  </tr>
                  <tr>
                     <td>2.用户人数</td>
                     <td>&nbsp;</td>
                     <td>&nbsp;</td>
                     <td>&nbsp;</td>
                  </tr>
                  <tr>
                     <td>3.计算实力指数</td>
                     <td>&nbsp;</td>
                     <td>&nbsp;</td>
                     <td>&nbsp;</td>
                  </tr><!-- 民间专家成绩 -->
                  <tr>
                     <td>搜索与排行</td>
                     <td>&nbsp;</td>
                     <td>&nbsp;</td>
                     <td>√</td>
                     <td>用户可根据特定需求对专家或分析师进行排行</td>
                     <td>收费</td>
                     <td>&nbsp;</td>
                     <td>
                        <a class="cRed" href="javascript:;" onclick="cart.buy('8', 1, 0)">购买</a>
                        <a class="cRed" href="javascript:;" onclick="cart.add('8', 1, 0 )">放入购物车</a>
                     </td>
                  </tr><!-- 搜索与排行 -->
                  <tr>
                     <td>年报查询</td>
                     <td>&nbsp;</td>
                     <td>&nbsp;</td>
                     <td>√</td>
                     <td>用户可随时查阅上市公司年报和季报</td>
                     <td>收费</td>
                     <td>29元/月</td>
                     <td>
                        <a class="cRed" href="javascript:;" onclick="cart.buy('9', 1, 29)">购买</a>
                        <a class="cRed" href="javascript:;" onclick="cart.add('9', 1, 29 )">放入购物车</a>
                     </td>
                  </tr><!-- 搜索与排行 -->
                  <tr>
                     <td rowspan="6">公告掘金</td>
                     <td rowspan="6">&nbsp;</td>
                     <td rowspan="6">&nbsp;</td>
                     <td rowspan="6">√</td>
                     <td>用户可跟踪哪些上市公司、CEO、CFO买入本公司股票</td>
                     <td>收费</td>
                     <td>19元/月</td>
                     <td>
                        <a class="cRed" href="javascript:;" onclick="cart.buy('10', 1, 19)">购买</a>
                        <a class="cRed" href="javascript:;" onclick="cart.add('10', 1, 19 )">放入购物车</a>
                     </td>
                  </tr>
                  <tr>
                     <td>1.上市公司高管买入、卖出</td>
                     <td>&nbsp;</td>
                     <td>&nbsp;</td>
                     <td>&nbsp;</td>
                  </tr>
                  <tr>
                     <td>2.资产重组</td>
                     <td>&nbsp;</td>
                     <td>&nbsp;</td>
                     <td>&nbsp;</td>
                  </tr>
                  <tr>
                     <td>3.股权激励</td>
                     <td>&nbsp;</td>
                     <td>&nbsp;</td>
                     <td>&nbsp;</td>
                  </tr>
                  <tr>
                     <td>4.计算发布当日起收益率</td>
                     <td>&nbsp;</td>
                     <td>&nbsp;</td>
                     <td>&nbsp;</td>
                  </tr>
                  <tr>
                     <td>5.按照整体计算收益率</td>
                     <td>&nbsp;</td>
                     <td>&nbsp;</td>
                     <td>&nbsp;</td>
                  </tr><!-- 公告掘金 -->
               </table>
               <input class="submitBtn" type="button" value="去结算" />
               <p>套餐更划算，帮你省钱</p>
               <table>
                  <tr>
                     <td class="ta-l pd-l-5">套餐项目</td>
                     <td>建议价格(人民币)</td>
                     <td>操作</td>
                  </tr>
                  <tr>
                     <td>分析师成功率+研报速递(行业)</td>
                     <td>109元/月</td>
                     <td>
                        <a class="cRed" href="javascript:;" onclick="cart.buy('11', 1, 109)">购买</a>
                        <a class="cRed" href="javascript:;" onclick="cart.add('11', 1, 109 )">放入购物车</a>
                     </td>
                  </tr>
                  <tr>
                     <td>分析师收益率</td>
                     <td>109元/月</td>
                     <td>
                        <a class="cRed" href="javascript:;" onclick="cart.buy('12', 1, 109)">购买</a>
                        <a class="cRed" href="javascript:;" onclick="cart.add('12', 1, 109 )">放入购物车</a>
                     </td>
                  </tr>
                  <tr>
                     <td>研报速递(行业)</td>
                     <td>-</td>
                     <td>
                        <a class="cRed" href="javascript:;" onclick="cart.buy('13', 1, 0)">购买</a>
                        <a class="cRed" href="javascript:;" onclick="cart.add('13', 1, 0 )">放入购物车</a>
                     </td>
                  </tr>
                  <tr>
                     <td>研报速递+分析师成功率+分析师收益率(行业)</td>
                     <td>129元/月</td>
                     <td>
                        <a class="cRed" href="javascript:;" onclick="cart.buy('14', 1, 129)">购买</a>
                        <a class="cRed" href="javascript:;" onclick="cart.add('14', 1, 129 )">放入购物车</a>
                     </td>
                  </tr>
                  <tr>
                     <td>推荐后折价+折价股票研报速递</td>
                     <td>99元/月</td>
                     <td>
                        <a class="cRed" href="javascript:;" onclick="cart.buy('15', 1, 99)">购买</a>
                        <a class="cRed" href="javascript:;" onclick="cart.add('15', 1, 99 )">放入购物车</a>
                     </td>
                  </tr>
                  <tr>
                     <td>推荐后折价</td>
                     <td>190元/月</td>
                     <td>
                        <a class="cRed" href="javascript:;" onclick="cart.buy('16', 1, 190)">购买</a>
                        <a class="cRed" href="javascript:;" onclick="cart.add('16', 1, 190 )">放入购物车</a>
                     </td>
                  </tr>
                  <tr>
                     <td>个股追踪</td>
                     <td>290元/月</td>
                     <td>
                        <a class="cRed" href="javascript:;" onclick="cart.buy('17', 1, 290)">购买</a>
                        <a class="cRed" href="javascript:;" onclick="cart.add('17',1, 290 )">放入购物车</a>
                     </td>
                  </tr>
                  <tr>
                     <td>公告掘金</td>
                     <td>190元/月</td>
                     <td>
                        <a class="cRed" href="javascript:;" onclick="cart.buy('17', 1, 190)">购买</a>
                        <a class="cRed" href="javascript:;" onclick="cart.add('17',1, 190 )">放入购物车</a>
                     </td>
                  </tr>
                  <tr>
                     <td>年报查询</td>
                     <td>290元/月</td>
                     <td>
                        <a class="cRed" href="javascript:;" onclick="cart.buy('18', 1, 290)">购买</a>
                        <a class="cRed" href="javascript:;" onclick="cart.add('18',1, 290 )">放入购物车</a>
                     </td>
                  </tr>
               </table>
            </div>
         </div>
      </div>
      <div class="clear"></div>
      #include("/template/inc/footer.htm")
   </div><!--mainBox end-->
   <div id="dialogS" class="dialogS">
      <span href="close" onclick="hide('dialogS')">关闭</span>
      <p class="tip">该产品已成功放入购物车</p>
      <p class="detail">购物车共<span id="tipTotalN" class="cRed">2</span>件产品 合计：<span id="tipTotalP" class="cRed">168.00</span>元</p>
      <p>
         <span onclick="/cart" class="enter">进入购物车</span>
         <span onclick="hide('dialogS');" class="continue">继续购物</span>
      </p>
   </div>
</div>
<script type="text/javascript" language="javascript">
   /* 
   第一个参数是用户名的标示，我用做订单id的前/后缀，加上时间戳代表该用户在这一时间的订单号，以保证不会跟其他订单号重复
   第二个参数是订单生成的时间戳，我用来比较本地存储中的订单时间戳，如果相等或者后端返回时间戳大于本地时间戳(该订单可能在别处支付完)说明本地订单信息已过期，需要清除订单信息
   */
   cart.init("username", 1302918010014);
</script>
</body>
</html>
<!-- myAccount -->
