<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gbk" />
<title>投资大师_我的消费</title>
<link href="/css/main.css" rel="stylesheet" type="text/css" />
<link href="/css/second.css" rel="stylesheet" type="text/css" />
<script language="javascript" type="text/javascript" src="/js/jquery.js"></script>
<script language="javascript" type="text/javascript" src="/js/Rookie.js?/js/rookie.swf"></script>
<script language="javascript" type="text/javascript" src="/js/51gurus.js"></script> 
</head>

<body>
<div class="wrapper">
   #include("/template/inc/header.htm")
   <div class="mainBox">
      #include("/template/inc/colL.htm")
      <div class="sec_list">
         <div class="sec_nav">
            <h2>
               <a href="/">投资大师首页</a> &gt; 个人中心
            </h2>   
         </div>
         <div style="width:100%;margin-top:15px;" id="star_detail_tab" class="sec_tabBar">
            <h2 class="star_de_tabli_on">个人中心</h2>
            <span><a href="/user/myAccount.htm">我的账号</a></span>
            <span><a href="/user/myInfo.htm">我的信息</a></span>
            <span><a href="/user/myRecharge.htm">我的充值</a></span>
            <span class="current"><a href="/user/myConsumer.htm">我的消费</a></span>
         	<span><a href="/user/logout.do">安全退出</a></span> 
         </div>
         <div id="star_detail_box" class="star_detail_box">
            <div class="onsaleTable">
               2009年11月08日至今，您在投资大师共消费了&nbsp;<span class="cRed">6</span>&nbsp;项服务，订单总金额&nbsp;<span class="cRed">35</span>&nbsp;元，您的账户余额为&nbsp;<span class="cRed">193.00</span>&nbsp;元
               <hr />
               <table class="myOrderTb">
                  <tr>
                     <th>订单号</th>
                     <th>消费类型</th>
                     <th>消费项目</th>
                     <th>状态</th>
                     <th>有效期</th>
                     <th>金额</th>
                     <th>时间</th>
                  </tr>
                  <tr>
                     <td>000002</td>
                     <td>信用卡支付</td>
                     <td>分析师成功率</td>
                     <td>有效</td>
                     <td>3月25日-4月25日</td>
                     <td>10元</td>
                     <td>2011-3-13 8:00:00</td>
                  </tr>
                  <tr>
                     <td>000001</td>
                     <td>支付宝支付</td>
                     <td>年报套餐</td>
                     <td>已过期</td>
                     <td>3月21日-4月21日</td>
                     <td>20元</td>
                     <td>2011-3-13 7:00:00</td>
                  </tr>
               </table>
            </div>
         </div>
      </div>
      <div class="clear"></div>
      #include("/template/inc/footer.htm")
   </div><!--mainBox end-->
</div>
</body>
</html>
<!-- myConsumer -->
