<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gbk" />
<title>投资大师_我的信息</title>
<link href="/css/main.css" rel="stylesheet" type="text/css" />
<link href="/css/second.css" rel="stylesheet" type="text/css" />
<script language="javascript" type="text/javascript" src="/js/jquery.js"></script>
<script language="javascript" type="text/javascript" src="/js/json2select.js"></script>
<script language="javascript" type="text/javascript" src="/js/areaJson.pack.js"></script>
<script language="javascript" type="text/javascript" src="/js/51gurus.js"></script> 
</head>

<body>
<div class="wrapper">
   #include("/template/inc/header.htm")
   <div class="mainBox">
      #include("/template/inc/colL.htm")
      <div class="sec_list">
         <div class="sec_nav">
            <h2>
               <a href="/">投资大师首页</a> &gt; 个人中心
            </h2>   
         </div>
         <div style="width:100%;margin-top:15px;" id="star_detail_tab" class="sec_tabBar">
            <h2 class="star_de_tabli_on">个人中心</h2>
            <span><a href="/user/myAccount.htm">我的账号</a></span>
            <span class="current"><a href="/user/myInfo.htm">我的信息</a></span>
            <span><a href="/user/myRecharge.htm">我的充值</a></span>
            <span><a href="/user/myConsumer.htm">我的消费</a></span>
            <span><a href="/user/logout.do">安全退出</a></span>            
         </div>
         <div class="user">
            <div class="myInfo">
               <b>修改资料</b><br />
               <p class="cGray">帮助我们完善您的个人资料，有助于我们未来根据您的情况提供更加个性化的服务，投资大师会对您的个人资料隐私加以保密</p>
               <form action="/user/update.do" id="info" name="info" method="post" enctype="multipart/form-data">
                  <table class="uinfoTb">
                     <tr>
                        <td width="150"><span class="cRed">*</span>昵称:</td>
                        <td><input id="nickname" name="nickname" type="text" value="$!user.nickname" /></td>
                        <td width="240"><span id="nickTip" class="cRed" style="display:none;">请输入中英文、数字、下划线或他们的组合</span></td>
                     </tr>
                     <tr>
                        <td><span class="cRed">*</span>Email:</td>
                        <td><input id="email" name="email" type="text" value="$!user.email" /></td>
                        <td><span id="emailTip" class="cRed" style="display:none;">请输入有效的Email地址</span></td>
                     </tr>
                     <tr>
                        <td>手机:</td>
                        <td><input id="mobile" name="mobile" type="text" value="$!user.mobile" /></td>
                        <td><span id="mobileTip" class="cRed" style="display:none;">手机号格式不正确</span></td>
                     </tr>
                     <tr>
                        <td>性别:</td>
                        <td>
                           <input id="man" type="radio" name="sex" value="1" #if($user.gender == 1)checked="checked" #end /><label for="man">男</label>
                           <input id="woman" type="radio" name="sex" value="0" #if($user.gender == 0)checked="checked" #end /><label for="woman">女</label>
                        </td>
                        <td>&nbsp;</td>
                     </tr>
                     <tr>
                        <td>居住城市:</td>
                        <td>
                           <!-- <select id="Province"></select>
                           <select id="city"></select> -->
                           <span id="city"></span>
                           <input id="changeInfoBtn" class="submitBtn" type="button" value="确定" />
                        </td>
                        <td></td>
                     </tr>
                  </table>
               </form>
               <hr />
               <b>修改密码</b><br />
               <form action="/user/changepasswd.do" name="pass" method="post" enctype="multipart/form-data">
                  <table class="uinfoTb">
                     <tr>
                        <td width="120">我的旧密码:</td>
                        <td><input id="oldPass" name="oldPass" type="password" /></td>
                        <td><span id="oldPassTip" class="cRed" style="display:none;">密码不能为空</span></td>
                     </tr>
                     <tr>
                        <td>我的新密码:</td>
                        <td><input id="newPass" name="newPass" type="password" /></td>
                        <td><span id="newPassTip" class="cRed" style="display:none;">密码不能为空</span></td>
                     </tr>
                     <tr>
                        <td>再次输入新密码:</td>
                        <td>
                           <input id="newPass2" name="newPass2" type="password" />
                           <input onclick="javascript:document.passwd.submit();" type="button" value="确定" />
                        </td>
                        <td><span id="newPass2Tip" class="cRed" style="display:none;">两次密码输入不一致</span></td>
                     </tr>
                  </table>
               </form>
            </div>
         </div>
      </div>
      <div class="clear"></div>
      #include("/template/inc/footer.htm")
   </div><!--mainBox end-->
</div>
<script type="text/javascript" language="javascript">
   userInfo.init();
</script>
</body>
</html>
<!-- myInfo -->