<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gbk" />
<title>投资大师_分析师推荐成功率排行榜</title>
<link href="/css/main.css" rel="stylesheet" type="text/css" />
<link href="/css/second.css" rel="stylesheet" type="text/css" />
<script language="javascript" type="text/javascript" src="/js/jquery.js"></script>
<script language="javascript" type="text/javascript" src="/js/city.js"></script>
<script language="javascript" type="text/javascript" src="/js/51gurus.js"></script> 
</head>

<body>
<div class="wrapper">
   #include("/template/inc/header.htm")
   <div class="mainBox">
      #include("/template/inc/colL.htm")
      <div class="sec_list">
         <div class="sec_nav">
            <h2>
               <a href="/">投资大师首页</a> &gt; 个人中心
            </h2>   
         </div>
         <div style="width:100%;margin-top:15px;" id="star_detail_tab" class="sec_tabBar">
            <h2 class="star_de_tabli_on">个人中心</h2>
            <span><a href="#">我的账号</a></span>
            <span class="current"><a href="#">我的信息</a></span>
            <span><a href="#">我的充值</a></span>
            <span><a href="#">我的消费</a></span>
         </div>
         <div id="star_detail_box" class="star_detail_box">
            <div class="onsaleTable">
               <b>修改资料</b><br />
               <p class="cGray">帮助我们完善您的个人资料，有助于我们未来根据您的情况提供更加个性化的服务，投资大师会对您的个人资料隐私加以保密</p>
               <form action="">
                  <table class="uinfoTb">
                     <tr width="100">
                        <td><span class="cRed">*</span>昵称:</td>
                        <td><input name="nickname" type="text" /></td>
                     </tr>
                     <tr>
                        <td><span class="cRed">*</span>Email:</td>
                        <td><input name="email" type="text" /></td>
                     </tr>
                     <tr>
                        <td>手机:</td>
                        <td><input name="mobile" type="text" /></td>
                     </tr>
                     <tr>
                        <td>性别:</td>
                        <td>
                           <input id="man" type="radio" name="sex" value="1" /><label for="man">男</label>
                           <input id="woman" type="radio" name="sex" value="0" /><label for="woman">女</label>
                        </td>
                     </tr>
                     <tr>
                        <td>居住城市:</td>
                        <td>
                           <select id="Province"></select>
                           <select id="city"></select>
                           <input type="button" value="确定" />
                        </td>
                     </tr>
                  </table>
               </form>
               <hr />
               <b>修改密码</b><br />
               <form action="">
                  <table class="uinfoTb">
                     <tr width="120">
                        <td>我的旧密码:</td>
                        <td><input id="oldPass" name="oldPass" type="password" /></td>
                     </tr>
                     <tr>
                        <td>我的新密码:</td>
                        <td><input id="newPass" name="newPass" type="password" /></td>
                     </tr>
                     <tr>
                        <td>再次输入新密码:</td>
                        <td>
                           <input id="newPass2" type="password" />
                           <input type="button" value="确定" />
                        </td>
                     </tr>
                  </table>
               </form>
            </div>
         </div>
      </div>
      <div class="clear"></div>
      #include("/template/inc/footer.htm")
   </div><!--mainBox end-->
</div>
<script type="text/javascript" language="javascript">
   userInfo.init();
</script>
</body>
</html>
<!-- myInfo -->