<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gbk" />
<title>投资大师_分析师推荐成功率排行榜</title>
<link href="/css/main.css" rel="stylesheet" type="text/css" />
<link href="/css/second.css" rel="stylesheet" type="text/css" />
<script language="javascript" type="text/javascript" src="/js/jquery.js"></script>
<script language="javascript" type="text/javascript" src="/js/Rookie.js?/js/rookie.swf"></script>
<script language="javascript" type="text/javascript" src="/js/51gurus.js"></script> 
</head>

<body>
<div class="wrapper">
   #include("/template/inc/header.htm")
   <div class="mainBox">
      #include("/template/inc/colL.htm")
      <div class="sec_content">
         <div class="sec_nav">
            <h2>
               <a href="/">投资大师首页</a> &gt; 我的购物车
            </h2>   
         </div>
         <ul class="cartNav cart-cart clearfix">
            <li class="pass"><span>选择产品</span><li>
            <li class="pass"><span>购物车</span><li>
            <li><span>确认购买</span><li>
            <li><span>提交订单</span><li>
         </ul>
         <div id="star_detail_box" class="star_detail_box">
            <div class="onsaleTable">
               <form id="cartList" action="/user/productcart.do" method="POST">
                  <input id="cartParam" type="hidden" name="param" />
                  <table id="cartTb" class="myOrderTb">
                     <tr>
                        <th>产品号</th>
                        <th>消费项目</th>
                        <th width="450">产品说明</th>
                        <th>数量</th>
                        <th>金额</th>
                        <th>操作</th>
                     </tr>
                  </table>
                  <p style="text-align:right;padding:10px 0;"><b>产品数量总计：</b><span class="cRed" id="totalN">0</span>&nbsp;&nbsp;金额总计：￥<span class="cRed" id="totalP">0</span></p>
                  <p style="text-align:right;padding:10px 0;">
                     <a href="javascript:;" onclick="cart.clear()">清空购物车</a>
                     <input type="button" class="submitBtn" onclick="window.location.href='/cart/products.htm'" value="&lt;继续购买" />
                     <input type="submit" class="submitBtn"value="确认付款&gt;" />
                  </p>
               </form>
               <p style="display:none" id="cartEmpty">您的购物车是空的</p>
               <!-- <p class="cart-live-p">套餐更划算，帮你省钱</p>
               <table id="setMealTb">
                  <tr>
                     <td>套餐项目</td>
                     <td>建议价格(人民币)</td>
                     <td>操作</td>
                  </tr>
                  <tr>
                     <td>分析师成功率+研报速递(行业)</td>
                     <td>109元/月</td>
                     <td>
                        <a class="cRed" href="javascript:;" onclick="cart.buy(11)">放入购物车</a>
                     </td>
                  </tr>
                  <tr>
                     <td>分析师收益率</td>
                     <td>109元/月</td>
                     <td>
                        <a class="cRed" href="javascript:;" onclick="cart.buy(12)">放入购物车</a>
                     </td>
                  </tr>
                  <tr>
                     <td>研报速递(行业)</td>
                     <td>-</td>
                     <td>
                        <a class="cRed" href="javascript:;" onclick="cart.buy(13)">放入购物车</a>
                     </td>
                  </tr>
                  <tr>
                     <td>研报速递+分析师成功率+分析师收益率(行业)</td>
                     <td>129元/月</td>
                     <td>
                        <a class="cRed" href="javascript:;" onclick="cart.buy(14)">放入购物车</a>
                     </td>
                  </tr>
                  <tr>
                     <td>推荐后折价+折价股票研报速递</td>
                     <td>99元/月</td>
                     <td>
                        <a class="cRed" href="javascript:;" onclick="cart.buy(15)">放入购物车</a>
                     </td>
                  </tr>
                  <tr>
                     <td>推荐后折价</td>
                     <td>190元/月</td>
                     <td>
                        <a class="cRed" href="javascript:;" onclick="cart.buy(16)">放入购物车</a>
                     </td>
                  </tr>
                  <tr>
                     <td>个股追踪</td>
                     <td>290元/月</td>
                     <td>
                        <a class="cRed" href="javascript:;" onclick="cart.buy(17)">放入购物车</a>
                     </td>
                  </tr>
                  <tr>
                     <td>公告掘金</td>
                     <td>190元/月</td>
                     <td>
                        <a class="cRed" href="javascript:;" onclick="cart.buy(18)">放入购物车</a>
                     </td>
                  </tr>
                  <tr>
                     <td>年报查询</td>
                     <td>290元/月</td>
                     <td>
                        <a class="cRed" href="javascript:;" onclick="cart.buy(19)">放入购物车</a>
                     </td>
                  </tr>
               </table> -->
            </div>
         </div>
      </div>
      <div class="clear"></div>
      #include("/template/inc/footer.htm")
   </div><!--mainBox end-->
   <div id="dialogS" class="dialogS">
      <div class="close" onclick="hide('dialogS')"><a class="aRed" href="javascript:;">关闭</a></div>
      <div class="success">
         <p class="tip">该产品已成功放入购物车</p>
         <p class="detail">购物车共<span id="tipTotalN" class="cRed">2</span>件产品 合计：<span id="tipTotalP" class="cRed">168.00</span>元</p>
         <p>
            <a href="/cart/myCart.htm" class="enter">进入购物车</a>
            <span onclick="hide('dialogS');" class="continue">继续购物</span>
         </p>
      </div>
      <div class="chose">
         <table>
            <tr>
               <td class="industcol">行业</td>
               <td>数量(月)</td>
               <td>价格</td>
            </tr>
            <tr>
               <td class="industcol"><select name="industry"></select></td>
               <td>
                  <input class="count" id="0num" type="text" value="1"/>
               </td>
               <td><div id="chosePrice"></div></td>
            </tr>
            <tr>
               <td><input id="buyOk" type="button" value="确认"/></td>
               <td class="industcol"></td>
               <td></td>
            </tr>
         </table>
      </div>
   </div>
</div>
<script type="text/javascript" language="javascript">
   cart.init();
   cart.show();
</script>
</body>
</html>
<!-- myCart -->