<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gbk" />
<title>投资大师_分析师推荐成功率排行榜</title>
<link href="/css/main.css" rel="stylesheet" type="text/css" />
<link href="/css/second.css" rel="stylesheet" type="text/css" />
<script language="javascript" type="text/javascript" src="/js/jquery.js"></script>
<script language="javascript" type="text/javascript" src="/js/Rookie.js?/js/rookie.swf"></script>
<script language="javascript" type="text/javascript" src="/js/51gurus.js"></script> 
</head>

<body>
<div class="wrapper">
   #include("/template/inc/header.htm")
   <div class="mainBox">
      #include("/template/inc/colL.htm")
      <div class="sec_list">
         <div class="sec_nav">
            <h2>
               <a href="/">投资大师首页</a> &gt; 我的购物车
            </h2>   
         </div>
         <div style="width:100%;margin-top:15px;" id="star_detail_tab" class="sec_tabBar">
            <h2 class="star_de_tabli_on">我的购物车</h2>
            <span class="current"><a href="#">确认购买</a></span>
            <span><a href="#">确认支付方式</a></span>
         </div>
         <div id="star_detail_box" class="star_detail_box">
            <div class="onsaleTable">
               <table id="cartTb" class="myOrderTb">
                  <tr>
                     <th>订单号</th>
                     <th>消费项目</th>
                     <th>产品说明</th>
                     <th>数量</th>
                     <th>金额</th>
                     <th>操作</th>
                  </tr>
                  <tr>
                     <td>000002</td>
                     <td>分析师成功率</td>
                     <td>用户可查询该行业各分析师的目标价成功率</td>
                     <td><span onclick="cart.motify(00002, )">-</span><span class="num">1</span><span>+</span></td>
                     <td><span class="price">10</span>元</td>
                     <td><a onclick="cart.del(00002)" href="javascript:;">删除</a></td>
                  </tr>
               </table>
               <hr />
               <p style="text-align:right">产品数量总计：<span id="totalN">3</span>&nbsp;&nbsp;金额总计：￥<span id="totalP"></span></p>
               <p style="text-align:right">
                  <input type="button" value="&lt;继续购买" />
                  <input type="button" value="去结算&gt;" />
               </p>
               <p>套餐更划算，帮你省钱</p>
               <table>
                  <tr>
                     <td>套餐项目</td>
                     <td>建议价格(人民币)</td>
                     <td>操作</td>
                  </tr>
                  <tr>
                     <td>分析师成功率+研报速递(行业)</td>
                     <td>109元/月</td>
                     <td>
                        <a class="cRed" href="#">购买</a>
                        <a class="cRed" href="javascript:;" onclick="cart.add('11', 1, 109 )">放入购物车</a>
                     </td>
                  </tr>
                  <tr>
                     <td>分析师收益率</td>
                     <td>109元/月</td>
                     <td>
                        <a class="cRed" href="#">购买</a>
                        <a class="cRed" href="javascript:;" onclick="cart.add('12', 1, 109 )">放入购物车</a>
                     </td>
                  </tr>
                  <tr>
                     <td>研报速递(行业)</td>
                     <td>-</td>
                     <td>
                        <a class="cRed" href="#">购买</a>
                        <a class="cRed" href="javascript:;" onclick="cart.add('13', 1, 0 )">放入购物车</a>
                     </td>
                  </tr>
                  <tr>
                     <td>研报速递+分析师成功率+分析师收益率(行业)</td>
                     <td>129元/月</td>
                     <td>
                        <a class="cRed" href="#">购买</a>
                        <a class="cRed" href="javascript:;" onclick="cart.add('14', 1, 129 )">放入购物车</a>
                     </td>
                  </tr>
                  <tr>
                     <td>推荐后折价+折价股票研报速递</td>
                     <td>99元/月</td>
                     <td>
                        <a class="cRed" href="#">购买</a>
                        <a class="cRed"  href="javascript:;" onclick="cart.add('15', 1, 99 )">放入购物车</a>
                     </td>
                  </tr>
                  <tr>
                     <td>推荐后折价</td>
                     <td>190元/月</td>
                     <td>
                        <a class="cRed" href="#">购买</a>
                        <a class="cRed"  href="javascript:;" onclick="cart.add('16', 1, 190 )">放入购物车</a>
                     </td>
                  </tr>
                  <tr>
                     <td>个股追踪</td>
                     <td>290元/月</td>
                     <td>
                        <a class="cRed" href="#">购买</a>
                        <a class="cRed"  href="javascript:;" onclick="cart.add('17',1, 290 )">放入购物车</a>
                     </td>
                  </tr>
                  <tr>
                     <td>公告掘金</td>
                     <td>190元/月</td>
                     <td>
                        <a class="cRed" href="#">购买</a>
                        <a class="cRed"  href="javascript:;" onclick="cart.add('17',1, 190 )">放入购物车</a>
                     </td>
                  </tr>
                  <tr>
                     <td>年报查询</td>
                     <td>290元/月</td>
                     <td>
                        <a class="cRed" href="#">购买</a>
                        <a class="cRed"  href="javascript:;" onclick="cart.add('18',1, 290 )">放入购物车</a>
                     </td>
                  </tr>
               </table>
            </div>
         </div>
      </div>
      <div class="clear"></div>
      #include("/template/inc/footer.htm")
   </div><!--mainBox end-->
</div>
<script type="text/javascript" language="javascript">
   cart.pObj = {
      1:{id : 1, title : "分析师成功率", intro : "用户可查询该行业各分析师的目标价成功率", price : 10},
      2:{id : 1, title : "推荐后折价+折价股票研报速递", intro : "套餐", price : 99}
   };
   cart.init("user", 1302918010014);
   cart.show();
</script>
</body>
</html>
<!-- myCart -->