<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gbk" />
<title>投资大师_分析师推荐成功率排行榜</title>
<link href="/css/main.css" rel="stylesheet" type="text/css" />
<link href="/css/second.css" rel="stylesheet" type="text/css" />
<script language="javascript" type="text/javascript" src="/js/jquery.js"></script>
<script language="javascript" type="text/javascript" src="/js/Rookie.js?/js/rookie.swf"></script>
<script language="javascript" type="text/javascript" src="/js/51gurus.js"></script> 
</head>

<body>
<div class="wrapper">
   #include("/template/inc/header.htm")
   <div class="mainBox">
      #include("/template/inc/colL.htm")
      <div class="sec_content">
         <div class="sec_nav">
            <h2>
               <a href="/">投资大师首页</a> &gt; 我的购物车
            </h2>   
         </div>
         <ul class="cartNav cart-pay clearfix">
            <li class="pass">选择产品<li>
            <li class="pass">购物车<li>
            <li class="pass">确认购买<li>
            <li>提交订单<li>
         </ul>
         <div id="star_detail_box" class="star_detail_box">
            <div class="onsaleTable">
             #if($useRemain ==1 )
             <form action="/user/orderByRemain.do" method="POST" >
             #else
             <form action="/user/orderrecharge.do" method="POST" >
             #end
               <input type="hidden" name="orderid" value="$orderid"/>
               <table id="cartTb" class="myOrderTb">
                  <tr>
                     <th>订单号</th>
                     <th>消费项目</th>
                     <th width="450">产品说明</th>
                     <th>数量</th>
                     <th>金额</th>
                  </tr>
               </table>
               <hr />
               <p style="text-align:right">产品数量总计：<span id="totalN">3</span>&nbsp;&nbsp;金额总计：￥<span id="totalP"></span></p>
               <div>
                  <p><input type="checkbox" name="useRemain" checked="checked" value="1" />您的投资大师账户：$user.email,余额为$user.remain元，可直接支付</p>
                  #if($useRemain ==1 )
                  <input class="submitBtn" type="submit" value="确认余额支付" />
                  #end
               </div>
               #if($useRemain ==0 )
               <div>
                  <b>使用其他方式付款</b>
                  <ul>
                     <li><input type="radio" name="type" value="0"  />支付宝-在线支付</li>
                     <li><input type="radio" name="type" value="1"  />财付通-在线支付</li>
                     <li><input type="radio" name="type" value="2"  />快钱-在线支付</li>
                     <li><input type="radio" name="type" value="3"  />信用卡-在线支付</li>
                  </ul>
                  <input class="submitBtn" type="submit" value="确认充值并支付" />
               </div>
               #end
            </div>
         </div>
      </div>
      <div class="clear"></div>
      #include("/template/inc/footer.htm")
   </div><!--mainBox end-->
</div>
<script type="text/javascript" language="javascript">
   cart.init();
   cart.show( true );
</script>
</body>
</html>
<!-- myConsumer -->