<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gbk" />
<title>投资大师_公告掘金_收益</title>
#include("/template/inc/cssjs.htm")<!--cssjs end-->
</head>

<body>
<div class="wrapper">
	#include("/template/inc/header.htm")<!--header end-->
    <div class="mainBox">
    	#include("/template/inc/colL.htm")
        <div class="sec_list">
        		<div class="sec_nav">
            	<h2>
                    <span class="sec_nav_date"></span>
                    <a href="/">投资大师首页</a> &gt; <a href="#">公告掘金 收益排行榜</a> 
                </h2>
            </div>
           <div style="width:100%;margin-top:15px;" id="star_detail_tab" class="sec_tabBar">
						<h2 class="star_de_tabli_on">掘金收益排行榜</h2>
				<span><a href="/notice/hrank_1.htm">半年掘金榜</a></span>
				<span class="current"><a href="/notice/qrank_1.htm">季度掘金榜</a></span>
				<span><a href="/notice/mrank_1.htm">月度掘金榜</a></span>
						<em class="sec_tab_right">$dateTools.transformYYYYMMDDDate($currdate)</em>
             </div>
            <div class="star_detail_box">
            	<div class="onsaleTable">
            		<table cellpadding="0" cellspacing="0">
            			<tr>
            				<th class="rank_score">排名</th>
            				<th>公司</th>
            				<th>公告日期</th>
            				<th>标题</th>
            				<th>回报率</th>
            				<th>链接</th>
            			</tr>
            			#set ($count = $start + 1)
            			#if ($noticeStocks)#foreach ($one in $noticeStocks)
						#if ($count%2 == 1)
            			<tr>
            			#else
            			<tr class="star_detail_tb_even">
            			#end
            			    <td class="rank_score">
							#if ($count <= 3)
							<div class="rank_top3">${count}</div>
							#else
							<div class="rank_other">${count}</div>
							#end
							</td>
            				<td>${one.getStockname()}($one.getStockcode())&nbsp;<span id="analyicon$count" class="analyicon" onclick="showAnaly('analyicon$count','rec$count','${one.getStockname()}($one.getStockcode())','大盘涨跌幅度')">【对比图】</span></td>
            				<td>$dateTools.transformYYYYMMDDDate($one.date)</td>
							<td>			       
				    #if($one.type == 0 )
			           	股权激励
			        #elseif($one.type == 1)	
			        	资产重组
			        #elseif($one.type == 2)	
			         	股东增持
			      	#elseif($one.type == 3)	
			        	股东减持
			        #elseif($one.type == 4)	
			        	业绩预增
			        #elseif($one.type == 5)	
			        	业绩预减
			        #end
			        		</td>
            				<td>${floatUtil.getTwoDecimalNumber($one.getGain())}%</td>
            				<td>
            				<a href="${one.getUrl()}">查看</a>
            				</td>
            			</tr>
            			#set ($count = $count + 1)
            			#end#end
            		</table>
            	</div>
            	<div>
            			#set ($count = $start + 1)
						#if ($noticeStocks)#foreach ($one in $noticeStocks)
            			<table id="rec$count" class="hidden">
            			#set ($stockEarnList = $stockDetailMap.get($one.getId()))
			               	<tr>
			               		#if ($stockEarnList)#foreach ($one in $stockEarnList)
								<th>${one.getDate().getTime()}</th>
								#end#end
			                </tr>
			                <tr>
								#if ($stockEarnList)#foreach ($one in $stockEarnList)
								#set ($ratio = $one.getCurrratio() * 100)
								<td>${one.getPrice()},${floatUtil.getTwoDecimalNumber($ratio)}%</td>
								#end#end
							</tr>
							<tr>
								#set ($priceList = $stockEarnMap.get($one.getId()))
								#set ($startprice = $startPriceMap.get($one.getId()))
								#if ($priceList)#foreach ($one in $priceList)
								#set ($ratio = ($one.getPrice() - $startprice)/$startprice * 100)
	                            <td>${one.getPrice()},${floatUtil.getTwoDecimalNumber($ratio)}%</td>
								#end#end
							</tr>
		        		</table>
		        		#set ($count = $count + 1)
		        		#end#end
            	</div>
            	            	           	<div class="pageSet">
		            	<table width="100%" border="0">
		                  <tbody>
				                  <tr>
					                    <td width="28%">&nbsp;</td>
					                    <td width="51%">
											#if ($current == 1)
					                    	<a href="#">第一页</a>
											<a href="#">上一页</a>
											#else
											<a href="/notice/qrank_1.html">第一页</a>
											#set ($prev = $current - 1)
											<a href="/notice/qrank_${prev}.html">上一页</a>
											#end
											#if ($current == $page)
											<a href="#">下一页</a>
					                        <a href="#">末一页</a>
											#else
											#set ($next = $current + 1)
											<a href="/notice/qrank_${next}.html">下一页</a>
											<a href="/notice/qrank_${page}.html">末一页</a>
											#end
					                    </td>
					                    	
					                    <td width="21%">
					                        <span class="curPage">$current</span>/$page&nbsp;&nbsp;&nbsp;&nbsp;
					                        到第<input class="toPage" type="text">页
					                        <input class="toPageBtn" type="button" value="跳转">
					                    </td>
				                  </tr>
		                	</tbody>
		              </table>
	            </div>
            </div>

        </div>
        <div id="star_detail_preview"></div>
		<div class="clear"></div>
        #include("/template/inc/footer.htm")
    </div><!--mainBox end-->
    <script language="javascript" type="text/javascript">
    	$("#star_detail_preview").hover(
				function () {
					$(this).show();
				},
				function (){
					$(this).hide();
					$(this).empty();
				}
			)
    </script>
</div>
</body>
</html>
