<?xml version="1.0" encoding="GBK"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
  <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
    <property name="locations">
      <list>
        <value>classpath:jdbc.properties</value>
      </list>
    </property>
  </bean>
  <!-- 默认数据源 -->
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName">
		  <value>${jdbc.driverClassName}</value>
		</property>
		<property name="url">
		  <value>${jdbc.url}</value>
		</property>
		<property name="username">
		  <value>${jdbc.username}</value>
		</property>
		<property name="password">
		  <value>${jdbc.password}</value>
		</property>
	</bean>
	<!-- 与默认数据源关联的iBatis的SqlMapClient -->
	<bean id="ibatisConfigClasspathResource" class="org.springframework.core.io.ClassPathResource" >
      <constructor-arg><value>sql-map-config.xml</value></constructor-arg>
   </bean>
	<bean id="sqlMapClient" class="org.springframework.orm.ibatis.SqlMapClientFactoryBean">
	  <property name="configLocation">
	    <ref bean="ibatisConfigClasspathResource"/>
	  </property>
	  <property name="dataSource">
	    <ref bean="dataSource"/>
	  </property>
  </bean>
  <!-- 与默认数据源关联的iBatis的SqlMapClientTemplate -->
	<bean id="sqlMapClientTemplate" class=" org.springframework.orm.ibatis.SqlMapClientTemplate">
		<property name="sqlMapClient">
		<ref bean="sqlMapClient"/>
		</property>
	</bean>
	<!-- 与默认数据源关联的iBatis的JdbcTemplate -->
	<bean id="jdbcTemplate"	class="org.springframework.jdbc.core.JdbcTemplate">
	  <property name="dataSource">
	    <ref bean="dataSource"/>
	  </property>
	</bean>
</beans>
