<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
	<bean id="userManager"
		class="com.caijing.business.impl.UserManagerImpl">
		<property name="userDao">
			<ref bean="userDao" />
		</property>
	</bean>

	<bean id="stockPrice" class="com.caijing.model.StockPrice">
		<property name="stockEarnDao">
			<ref bean="stockEarnDao" />
		</property>
	</bean>

	<bean id="stockGainManager"
		class="com.caijing.business.impl.StockGainManagerImpl">
		<property name="recommendStockDao">
			<ref bean="recommendStockDao" />
		</property>
		<property name="sp">
			<ref bean="stockPrice" />
		</property>
	</bean>


	<bean id="groupGainManager"
		class="com.caijing.business.impl.GroupGainManagerImpl">
		<property name="groupStockDao">
			<ref bean="groupStockDao" />
		</property>
		<property name="analyzerDao">
			<ref bean="analyzerDao" />
		</property>
		<property name="recommendStockDao">
			<ref bean="recommendStockDao" />
		</property>
		<property name="stockEarnDao">
			<ref bean="stockEarnDao" />
		</property>
		<property name="sp">
			<ref bean="stockPrice" />
		</property>
	</bean>


	<bean id="discount" class="com.caijing.util.Discount">
		<property name="recommendStockDao">
			<ref bean="recommendStockDao" />
		</property>
		<property name="sp">
			<ref bean="stockPrice" />
		</property>
	</bean>


</beans>
