<?xml version="1.0" encoding="GBK"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>

	<bean id="propertyConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:jdbc.properties</value>
			</list>
		</property>
	</bean>
	<bean id="dataSource"
		class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName">
			<value>${jdbc.driverClassName}</value>
		</property>
		<property name="url">
			<value>${jdbc.url}</value>
		</property>
		<property name="username">
			<value>${jdbc.username}</value>
		</property>
		<property name="password">
			<value>${jdbc.password}</value>
		</property>
	</bean>
	<bean id="ibatisConfigClasspathResource"
		class="org.springframework.core.io.ClassPathResource">
		<constructor-arg>
			<value>sql-map-config.xml</value>
		</constructor-arg>
	</bean>
	<bean id="sqlMapClient"
		class="org.springframework.orm.ibatis.SqlMapClientFactoryBean">
		<property name="configLocation">
			<ref bean="ibatisConfigClasspathResource" />
		</property>
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
	</bean>
	<bean id="sqlMapClientTemplate"
		class=" org.springframework.orm.ibatis.SqlMapClientTemplate">
		<property name="sqlMapClient">
			<ref bean="sqlMapClient" />
		</property>
	</bean>
	<bean id="jdbcTemplate"
		class="org.springframework.jdbc.core.JdbcTemplate">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
	</bean>
	<!--
		<bean id="berkeleyDB" class="com.caijing.cache.BerkeleyDB">
		<property name="cacheHome">
		<value>/home/app/caijing/cache</value>
		</property>
		</bean>
		
		<bean id="listExtractor" class="com.caijing.crawl.ListExtractor">
		<property name="bdb">
		<ref bean="berkeleyDB" />
		</property>
		<property name="config">
		<ref bean="config" />
		</property>
		</bean>
		<bean id="threadCrawler" class="com.caijing.crawl.ThreadCrawler">
		<property name="listExtractor">
		<ref bean="listExtractor" />
		</property>
		</bean>
	-->
</beans>
