<?xml version="1.0" encoding="GBK"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
       http://www.springframework.org/schema/tx
       http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context-2.5.xsd">
	<bean id="userDao" class="com.caijing.dao.ibatis.UserDaoImpl">
		<property name="sqlMapClientTemplate">
			<ref bean="sqlMapClientTemplate" />
		</property>
		<property name="namespace">
			<value>User</value>
		</property>
	</bean>

	<bean id="industryDao"
		class="com.caijing.dao.ibatis.IndustryDaoImpl">
		<property name="sqlMapClientTemplate">
			<ref bean="sqlMapClientTemplate" />
		</property>
		<property name="namespace">
			<value>Industry</value>
		</property>
	</bean>
	
	<bean id="industryPrDao"
		class="com.caijing.dao.ibatis.IndustryPrDaoImpl">
		<property name="sqlMapClientTemplate">
			<ref bean="sqlMapClientTemplate" />
		</property>
		<property name="namespace">
			<value>IndustryPr</value>
		</property>
	</bean>	

	<bean id="stockDao" class="com.caijing.dao.ibatis.StockDaoImpl">
		<property name="sqlMapClientTemplate">
			<ref bean="sqlMapClientTemplate" />
		</property>
		<property name="namespace">
			<value>Stock</value>
		</property>
	</bean>

	<bean id="stockEarnDao"
		class="com.caijing.dao.ibatis.StockEarnDaoImpl">
		<property name="sqlMapClientTemplate">
			<ref bean="sqlMapClientTemplate" />
		</property>
		<property name="namespace">
			<value>StockEarn</value>
		</property>
	</bean>

	<bean id="analyzerDao"
		class="com.caijing.dao.ibatis.AnalyzerDaoImpl">
		<property name="sqlMapClientTemplate">
			<ref bean="sqlMapClientTemplate" />
		</property>
		<property name="namespace">
			<value>Analyzer</value>
		</property>
	</bean>

	<bean id="recommendStockDao"
		class="com.caijing.dao.ibatis.RecommendStockDaoImpl">
		<property name="sqlMapClientTemplate">
			<ref bean="sqlMapClientTemplate" />
		</property>
		<property name="namespace">
			<value>RecommendStock</value>
		</property>
	</bean>

	<bean id="reportDao" class="com.caijing.dao.ibatis.ReportDaoImpl">
		<property name="sqlMapClientTemplate">
			<ref bean="sqlMapClientTemplate" />
		</property>
		<property name="namespace">
			<value>Report</value>
		</property>
	</bean>

	<bean id="columnArticleDao"
		class="com.caijing.dao.ibatis.ColumnArticleDaoImpl">
		<property name="sqlMapClientTemplate">
			<ref bean="sqlMapClientTemplate" />
		</property>
		<property name="namespace">
			<value>ColumnArticle</value>
		</property>
	</bean>

	<bean id="economistDao"
		class="com.caijing.dao.ibatis.EconomistDaoImpl">
		<property name="sqlMapClientTemplate">
			<ref bean="sqlMapClientTemplate" />
		</property>
		<property name="namespace">
			<value>Economist</value>
		</property>
	</bean>

	<bean id="groupEarnDao"
		class="com.caijing.dao.ibatis.GroupEarnDaoImpl">
		<property name="sqlMapClientTemplate">
			<ref bean="sqlMapClientTemplate" />
		</property>
		<property name="namespace">
			<value>GroupEarnDao</value>
		</property>
	</bean>
	<bean id="groupStockDao"
		class="com.caijing.dao.ibatis.GroupStockDaoImpl">
		<property name="sqlMapClientTemplate">
			<ref bean="sqlMapClientTemplate" />
		</property>
		<property name="namespace">
			<value>GroupStockDao</value>
		</property>
	</bean>
	
	<bean id="noticeDao"
		class="com.caijing.dao.ibatis.NoticeDaoImpl">
		<property name="sqlMapClientTemplate">
			<ref bean="sqlMapClientTemplate" />
		</property>
		<property name="namespace">
			<value>NoticeDao</value>
		</property>
	</bean>
	
	<bean id="recommendSuccessDao"
		class="com.caijing.dao.ibatis.RecommendSuccessDaoImpl">
		<property name="sqlMapClientTemplate">
			<ref bean="sqlMapClientTemplate" />
		</property>
		<property name="namespace">
			<value>RecommendSuccess</value>
		</property>
	</bean>
	
	<bean id="masterMessageDao"
		class="com.caijing.dao.ibatis.MasterMessageDaoImpl">
		<property name="sqlMapClientTemplate">
			<ref bean="sqlMapClientTemplate" />
		</property>
		<property name="namespace">
			<value>MasterMessageDao</value>
		</property>
	</bean>
	
	<bean id="masterDao"
		class="com.caijing.dao.ibatis.MasterDaoImpl">
		<property name="sqlMapClientTemplate">
			<ref bean="sqlMapClientTemplate" />
		</property>
		<property name="namespace">
			<value>Master</value>
		</property>
	</bean>
	
	<bean id="analyzerSuccessDao"
		class="com.caijing.dao.ibatis.AnalyzerSuccessDaoImpl">
		<property name="sqlMapClientTemplate">
			<ref bean="sqlMapClientTemplate" />
		</property>
		<property name="namespace">
			<value>AnalyzerSuccess</value>
		</property>
	</bean>
	
	<bean id="financialReportDao"
		class="com.caijing.dao.ibatis.FinancialReportDaoImpl">
		<property name="sqlMapClientTemplate">
			<ref bean="sqlMapClientTemplate" />
		</property>
		<property name="namespace">
			<value>FinancialReport</value>
		</property>
	</bean>
	
	<bean id="postDao"
		class="com.caijing.dao.ibatis.PostDaoImpl">
		<property name="sqlMapClientTemplate">
			<ref bean="sqlMapClientTemplate" />
		</property>
		<property name="namespace">
			<value>Post</value>
		</property>
	</bean>
	
	<bean id="webUserDao"
		class="com.caijing.dao.ibatis.WebUserDaoImpl">
		<property name="sqlMapClientTemplate">
			<ref bean="sqlMapClientTemplate" />
		</property>
		<property name="namespace">
			<value>WebUser</value>
		</property>
	</bean>

	<bean id="userrightDAO"
		class="com.caijing.dao.ibatis.UserrightDAOImpl">
		<property name="sqlMapClientTemplate">
			<ref bean="sqlMapClientTemplate" />
		</property>
		<property name="namespace">
			<value>Userright</value>
		</property>
	</bean>
	
	<bean id="rechargeDao"
		class="com.caijing.dao.ibatis.RechargeDaoImpl">
		<property name="sqlMapClientTemplate">
			<ref bean="sqlMapClientTemplate" />
		</property>
		<property name="namespace">
			<value>Recharge</value>
		</property>
	</bean>
	
	<bean id="productDAO"
		class="com.caijing.dao.ibatis.ProductDAOImpl">
		<property name="sqlMapClientTemplate">
			<ref bean="sqlMapClientTemplate" />
		</property>
		<property name="namespace">
			<value>Product</value>
		</property>
	</bean>	
	
	<bean id="orderDao"
		class="com.caijing.dao.ibatis.OrderDaoImpl">
		<property name="sqlMapClientTemplate">
			<ref bean="sqlMapClientTemplate" />
		</property>
		<property name="namespace">
			<value>Order</value>
		</property>
	</bean>		
		
	
	<context:component-scan base-package="com.caijing"></context:component-scan>
</beans>
