<?xml version="1.0" encoding="GBK"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">


<beans>	
   
  <bean id="userDao" class="com.caijing.dao.ibatis.UserDaoImpl">
   <property name="sqlMapClientTemplate">
     <ref bean="sqlMapClientTemplate"/>
    </property>
    <property name="namespace">
      <value>User</value>
    </property>
  </bean>
  
    <bean id="analyzerDao" class="com.caijing.dao.ibatis.AnalyzerDaoImpl">
   <property name="sqlMapClientTemplate">
     <ref bean="sqlMapClientTemplate"/>
    </property>
    <property name="namespace">
      <value>Analyzer</value>
    </property>
  </bean>
  
  <bean id="reportDao" class="com.caijing.dao.ibatis.ReportDaoImpl">
   <property name="sqlMapClientTemplate">
     <ref bean="sqlMapClientTemplate"/>
    </property>
    <property name="namespace">
      <value>Report</value>
    </property>
  </bean>
  
</beans>
