<?xml version="1.0" encoding="GBK"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
       http://www.springframework.org/schema/tx
       http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context-2.5.xsd">
	<bean id="reportManager"
		class="com.caijing.business.impl.ReportManagerImpl">
		<property name="reportDao">
			<ref bean="reportDao" />
		</property>
		<property name="reportExtractor">
			<ref bean="reportExtractor" />
		</property>
		<property name="recommendStockDao">
			<ref bean="recommendStockDao" />
		</property>
	</bean>

	<bean id="stockPrice" class="com.caijing.model.StockPrice">
		<property name="stockEarnDao">
			<ref bean="stockEarnDao" />
		</property>
	</bean>

	<bean id="stockGainManager"
		class="com.caijing.business.impl.StockGainManagerImpl">
		<property name="recommendStockDao">
			<ref bean="recommendStockDao" />
		</property>
		<property name="sp">
			<ref bean="stockPrice" />
		</property>
	</bean>
	
	<bean id="analyzerManager"
		class="com.caijing.business.impl.AnalyzerManagerImpl">
		<property name="recommendStockDao">
			<ref bean="recommendStockDao" />
		</property>
		<property name="analyzerDao">
			<ref bean="analyzerDao" />
		</property>
		<property name="recommendSuccessDao">
			<ref bean="recommendSuccessDao" />
		</property>
	</bean>

	<bean id="groupGainManager"
		class="com.caijing.business.impl.GroupGainManagerImpl">
		<property name="groupStockDao">
			<ref bean="groupStockDao" />
		</property>
		<property name="analyzerDao">
			<ref bean="analyzerDao" />
		</property>
		<property name="recommendStockDao">
			<ref bean="recommendStockDao" />
		</property>
		<property name="stockEarnDao">
			<ref bean="stockEarnDao" />
		</property>
		<property name="sp">
			<ref bean="stockPrice" />
		</property>
	</bean>

	<bean id="recommendSuccessManager"
		class="com.caijing.business.impl.RecommendSuccessManagerImpl">
		<property name="analyzerDao">
			<ref bean="analyzerDao" />
		</property>
		<property name="stockEarnDao">
			<ref bean="stockEarnDao" />
		</property>
		<property name="recommendSuccessDao">
			<ref bean="recommendSuccessDao" />
		</property>
		<property name="analyzerSuccessDao">
			<ref bean="analyzerSuccessDao" />
		</property>
	</bean>
	
	<bean id="discount" class="com.caijing.util.Discount">
		<property name="recommendStockDao">
			<ref bean="recommendStockDao" />
		</property>
		<property name="sp">
			<ref bean="stockPrice" />
		</property>
	</bean>
	
	<bean id="htmlFlush" class="com.caijing.flush.HtmlFlusher">
		<property name="recommendStockDao">
			<ref bean="recommendStockDao" />
		</property>
		<property name="groupStockDao">
			<ref bean="groupStockDao" />
		</property>
		<property name="analyzerDao">
			<ref bean="analyzerDao" />
		</property>
		<property name="stockEarnDao">
			<ref bean="stockEarnDao" />
		</property>
		<property name="groupEarnDao">
			<ref bean="groupEarnDao" />
		</property>
		<property name="columnArticleDao">
			<ref bean="columnArticleDao" />
		</property>
		<property name="noticeDao">
			<ref bean="noticeDao" />
		</property>
		<property name="reportDao">
			<ref bean="reportDao" />
		</property>
		<property name="recommendSuccessDao">
			<ref bean="recommendSuccessDao" />
		</property>
		<property name="masterMessageDao">
			<ref bean="masterMessageDao" />
		</property>
		<property name="masterDao">
			<ref bean="masterDao" />
		</property>
		<property name="config">
			<ref bean="config" />
		</property>
		<property name="sp">
			<ref bean="stockPrice" />
		</property>
	</bean>
	
	<bean id="stockReloader" class="com.caijing.model.StockReloader">
		<property name="analyzerDao">
			<ref bean="analyzerDao" />
		</property>
		<property name="stockDao">
			<ref bean="stockDao" />
		</property>
		<property name="recommendSuccessDao">
			<ref bean="recommendSuccessDao" />
		</property>
	</bean>
	
	<bean id="caculater" class="com.caijing.model.Caculater">
		<property name="groupEarnDao">
			<ref bean="groupEarnDao" />
		</property>
		<property name="groupStockDao">
			<ref bean="groupStockDao" />
		</property>
		<property name="stockEarnDao">
			<ref bean="stockEarnDao" />
		</property>
	</bean>

<context:component-scan base-package="com.caijing"></context:component-scan>
</beans>
