<?xml version="1.0" encoding="GBK"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
       http://www.springframework.org/schema/tx
       http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context-2.5.xsd">
	<!--========================================================================
		CronTriggerBean
		=========================================================================-->
	<bean id="reportExtractor"
		class="com.caijing.crawl.ReportExtractorImpl">
		<property name="dao">
			<ref bean="stockDao" />
		</property>
		<property name="config">
			<ref bean="config" />
		</property>
	</bean>
	
	<import resource="config.xml" />

	<bean id="groupGain" class="com.caijing.util.GroupGain">
		<property name="recommendStockDao">
			<ref bean="recommendStockDao" />
		</property>
		<property name="dao">
			<ref bean="stockDao" />
		</property>
		<property name="groupEarnDao">
			<ref bean="groupEarnDao" />
		</property>
		<property name="groupStockDao">
			<ref bean="groupStockDao" />
		</property>
		<property name="analyzerDao">
			<ref bean="analyzerDao" />
		</property>
		<property name="sp">
			<ref bean="stockPrice" />
		</property>
	</bean>

	<bean id="localStorage" class="com.caijing.util.LocalStorage">
		<property name="groupGain">
			<ref bean="groupGain" />
		</property>
		<property name="stockEarnDao">
			<ref bean="stockEarnDao" />
		</property>
		<property name="groupStockDao">
			<ref bean="groupStockDao" />
		</property>
		<property name="htmlFlush">
			<ref bean="htmlFlush" />
		</property>
		<property name="stockReloader">
			<ref bean="stockReloader" />
		</property>
	</bean>
	
	<import resource="timing.xml" />
	<!--========================================================================
		AOP Cache
		=========================================================================-->

	<!-- aop cache by ehcache -->
	<bean id="ehcacheDaoCacheAdvisor"
		class="org.springframework.aop.support.RegexpMethodPointcutAdvisor">
		<property name="advice">
			<ref bean="methodCacheInterceptor" />
		</property>
		<property name="patterns">
			<list>
				<value>.*</value>
			</list>
		</property>
	</bean>

	<bean id="ehcacheDaoCacheProxyCreator"
		class="org.springframework.aop.framework.autoproxy.BeanNameAutoProxyCreator">
		<property name="beanNames">
			<list>
				<value>groupGain</value>
				<value>discount</value>
				<value>stockGainManager</value>
			</list>
		</property>
		<property name="interceptorNames">
			<list>
				<value>ehcacheDaoCacheAdvisor</value>
			</list>
		</property>
	</bean>

	<!-- 引用ehCache的配置 -->
	<bean id="defaultCacheManager"
		class="org.springframework.cache.ehcache.EhCacheManagerFactoryBean">
		<property name="configLocation">
			<value>classpath:ehcache.xml</value>
		</property>
	</bean>

	<!-- 定义ehCache的工厂，并设置所使用的Cache name -->
	<bean id="ehCache"
		class="org.springframework.cache.ehcache.EhCacheFactoryBean">
		<property name="cacheManager">
			<ref local="defaultCacheManager" />
		</property>
		<property name="cacheName">
			<value>DEFAULT_CACHE</value>
		</property>
	</bean>

</beans>
