<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
       http://www.springframework.org/schema/tx
       http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context-2.5.xsd">

	<bean id="config" class="com.caijing.util.Config">
		<property name="configMap">
			<map>
				<entry key="groupid">
					<map>
						<entry key="103">
							<value>liusanok</value>
						</entry>
						<entry key="960">
							<value>在喝着粥</value>
						</entry>
					</map>
				</entry>
				<entry key="安信证券">
					<map>
						<entry key="publishdate">
							<value><![CDATA[报告日期：\s+(201\d)-(\d{2})-(\d{2})]]></value>
						</entry>
						<entry key="grade">
							<value><![CDATA[评级：\s+(.*?)-[AB]{1}]]></value>
						</entry>
						<entry key="objectprice">
							<value><![CDATA[目标价格：\s+([0-9.]+)元]]></value>
						</entry>
						<entry key="analyzer">
							<value><![CDATA[研究员\s+(.*?)\s+[助理|首席]*行业分析师]]></value>
						</entry>
						<entry key="eps">
							<value><![CDATA[每股收益\(元\)\s+[0-9.]+\s+[0-9.]+\s+([0-9.]+)\s+([0-9.]+)\s+([0-9.]+)\n]]></value>
						</entry>
					</map>
				</entry>
				<entry key="申银万国">
					<map>
						<entry key="publishdate">
							<value><![CDATA[\n(201\d)年(\d{2})月(\d{2})日\s+]]></value>
						</entry>
						<entry key="grade">
							<value><![CDATA[报告原因：.*?\n(.*?)\n盈利预测]]></value>
						</entry>
						<entry key="objectprice">
							<value><![CDATA[目标价格：\s+([0-9.]+)\n]]></value>
						</entry>
						<entry key="analyzer">
							<value><![CDATA[分析师\s+\n([\u4e00-\u9fa5\s]+)+[AS]]]></value>
						</entry>
						<entry key="eps">
							<value><![CDATA[2010E\s+[0-9\.]+\s+[0-9\.]+\s+[0-9\.]+\s+([0-9.]+)\s.*?2011E\s+[0-9\.]+\s+[0-9\.]+\s+[0-9\.]+\s+([0-9.]+)\s.*?2012E\s+[0-9\.]+\s+[0-9\.]+\s+[0-9\.]+\s+([0-9.]+)\s]]></value>
						</entry>
					</map>
				</entry>
				<entry key="国泰君安">
					<map>
						<entry key="publishdate">
							<value><![CDATA[\n(201\d)\.(\d{2})\.(\d{2})]]></value>
						</entry>
						<entry key="grade">
							<value><![CDATA[评级： (.*?)\n]]></value>
						</entry>
						<entry key="objectprice">
							<value><![CDATA[目标价格：\s+([0-9.]+)\n]]></value>
						</entry>
						<entry key="analyzer">
							<value><![CDATA[\n\s([\u4e00-\u9fa5\s]+)+\n021-]]></value>
						</entry>
						<entry key="eps">
							<value><![CDATA[每股净收益（元）\s+[0-9.]+\s+[0-9.]+\s+([0-9.]+)\s+([0-9.]+)\s+([0-9.]+)\n]]></value>
						</entry>
					</map>
				</entry>
				<entry key="中金公司">
					<map>
						<entry key="publishdate">
							<value><![CDATA[。\s+(201\d\)年 *(\d{1,2})\月 *(\d{1,2})日\s]]></value>
						</entry>
						<entry key="grade">
							<value><![CDATA[研究部\s+([\u4e00-\u9fa5]{2,4})\n]]></value>
						</entry>
						<entry key="objectprice">
							<value><![CDATA[目标价：*([0-9.]+)元]]></value>
						</entry>
						<entry key="analyzer">
							<value><![CDATA[研究报告\s+([\u4e00-\u9fa5\s]+)\n分析员]]></value>
						</entry>
						<entry key="eps">
							
							<value><![CDATA[每股[盈利收益]{2}\(元\)\s*[0-9\.]+\s+[0-9\.]+\s+([0-9\.]+)\s+([0-9\.]+)\s+([0-9\.]+)\s*\n]]></value>
						</entry>
					</map>
				</entry>
				<entry key="海通证券">
					<map>
						<entry key="publishdate">
							<value><![CDATA[\s+(201\d)年\s(\d{1,2})\月\s(\d{1,2})日]]></value>
						</entry>
						<entry key="grade">
							<value><![CDATA[\n\s([\u4e00-\u9fa5\s]+)\n]]></value>
						</entry>
						<entry key="objectprice">
							<value><![CDATA[目标价：*([0-9.]+)元]]></value>
						</entry>
						<entry key="analyzer">
							<value><![CDATA[[分析师|行业]：([\u4e00-\u9fa5\s]+)+\n]]></value>
						</entry>
						<entry key="eps">
							<value><![CDATA[[每股收益|EPS分别]为\s([0-9.]+)元、([0-9.]+)元和\s([0-9.]+)元]]></value>
						</entry>
					</map>
				</entry>
			</map>
		</property>
		<property name="searchPage"
			value="http://acad.cnki.net/kns55/request/search.aspx" />


		<property name="prefix" value="http://guru.caijing.com" />

		<property name="autoTagUrl"
			value="http://product.auto.163.com/data!newAutolistForTagLib.action" />
		<property name="imgHostList">
			<list>
				<value>http://vimg1.ws.126.net</value>
				<value>http://vimg2.ws.126.net</value>
				<value>http://vimg3.ws.126.net</value>
			</list>
		</property>
	</bean>
	<bean id="TopicNameConfig"
		class="com.caijing.util.TopicNameConfig">
		<property name="topicNameMap">
			<map>
				<entry key="0001">
					<value>中信证券</value>
				</entry>
				<entry key="0002">
					<value>中金公司</value>
				</entry>
				<entry key="0003">
					<value>国泰君安</value>
				</entry>
				<entry key="0004">
					<value>申银万国</value>
				</entry>
				<entry key="0005">
					<value>银河证券</value>
				</entry>
				<entry key="0006">
					<value>海通证券</value>
				</entry>
				<entry key="0007">
					<value>宏源证券</value>
				</entry>
				<entry key="0008">
					<value>中信建投</value>
				</entry>
				<entry key="0009">
					<value>广发证券</value>
				</entry>
				<entry key="0010">
					<value>国金证券</value>
				</entry>
				<entry key="0011">
					<value>国信证券</value>
				</entry>
				<entry key="0012">
					<value>安信证券</value>
				</entry>
				<entry key="0013">
					<value>招商证券</value>
				</entry>
				<entry key="0014">
					<value>光大证券</value>
				</entry>
				<entry key="0015">
					<value>联合证券</value>
				</entry>
				<entry key="0016">
					<value>联合证券</value>
				</entry>
				<entry key="0017">
					<value>华泰证券</value>
				</entry>
				<entry key="0018">
					<value>东方证券</value>
				</entry>
				<entry key="0019">
					<value>华泰联合</value>
				</entry>
				<entry key="0020">
					<value>中投证券</value>
				</entry>
			</map>
		</property>
	</bean>
</beans>
