<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
       http://www.springframework.org/schema/tx
       http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context-2.5.xsd">

	<bean id="config" class="com.caijing.util.Config">
		<property name="configMap">
			<map>
				<entry key="groupid">
					<map>
						<entry key="103">
							<value>liusanok</value>
						</entry>
						<entry key="960">
							<value>在喝着粥</value>
						</entry>
						<entry key="db_opt">
							<value>中国重要报纸全文数据库</value>
						</entry>
						<entry key="db_value">
							<value>中国重要报纸全文数据库</value>
						</entry>
					</map>
				</entry>
				<entry key="journal">
					<map>
						<entry key="DbCatalog">
							<value>video090331.htm</value>
						</entry>
						<entry key="DbPrefix">
							<value>list_default.htm</value>
						</entry>
						<entry key="db_opt">
							<value>list_default.htm</value>
						</entry>
						<entry key="db_value">
							<value>list_default.htm</value>
						</entry>
					</map>
				</entry>
				<entry key="paper">
					<map>
						<entry key="DbCatalog">
							<value>video090331.htm</value>
						</entry>
						<entry key="DbPrefix">
							<value>list_default.htm</value>
						</entry>
						<entry key="db_opt">
							<value>list_default.htm</value>
						</entry>
						<entry key="db_value">
							<value>list_default.htm</value>
						</entry>
					</map>
				</entry>
				<entry key="conference">
					<map>
						<entry key="DbCatalog">
							<value>video090331.htm</value>
						</entry>
						<entry key="DbPrefix">
							<value>list_default.htm</value>
						</entry>
						<entry key="db_opt">
							<value>list_default.htm</value>
						</entry>
						<entry key="db_value">
							<value>list_default.htm</value>
						</entry>
					</map>
				</entry>
				<entry key="policy">
					<map>
						<entry key="DbCatalog">
							<value>video090331.htm</value>
						</entry>
						<entry key="DbPrefix">
							<value>list_default.htm</value>
						</entry>
						<entry key="db_opt">
							<value>list_default.htm</value>
						</entry>
						<entry key="db_value">
							<value>list_default.htm</value>
						</entry>
					</map>
				</entry>
				<entry key="almanac">
					<map>
						<entry key="DbCatalog">
							<value>video090331.htm</value>
						</entry>
						<entry key="DbPrefix">
							<value>list_default.htm</value>
						</entry>
						<entry key="db_opt">
							<value>list_default.htm</value>
						</entry>
						<entry key="db_value">
							<value>list_default.htm</value>
						</entry>
					</map>
				</entry>
			</map>
		</property>
		<property name="searchPage"
			value="http://acad.cnki.net/kns55/request/search.aspx" />


		<property name="prefix"
			value="http://acad.cnki.net/Kns55/brief/brief.aspx?pagename=" />

		<property name="params">
			<value>
				<![CDATA[
action=undefined&NaviCode=*&PageName=ASP.brief_result_aspx&magazine_special1=%25&year_type=echar&au_1_sel=%u4F5C%u8005%2C%u4E2D%u82F1%u6587%u4F5C%u8005&au_1_special1=%3D&au_2_sel=%u7B2C%u4E00%u8D23%u4EFB%u4EBA&au_2_logical=and&au_2_special1=%3D&txt_1_relation=%23CNKI_AND&txt_1_special1=%3D&txt_1_extension=xls&his=0&__=Sun%20Jun%2027%202010%2013%3A40%3A38%20GMT%2B080
			]]></value>
		</property>
		<property name="autoTagUrl"
			value="http://product.auto.163.com/data!newAutolistForTagLib.action" />
		<property name="imgHostList">
			<list>
				<value>http://vimg1.ws.126.net</value>
				<value>http://vimg2.ws.126.net</value>
				<value>http://vimg3.ws.126.net</value>
			</list>
		</property>
	</bean>

</beans>
